.community {
    text-align: center;
    margin-top: 140px;
  }
  
  .stats {
    display: flex;
    justify-content: space-between;
    max-width: 870px;
    margin: 0 auto 50px;
  
    .statItem {
      text-align: center;
  
      h3 {
        font-weight: 700;
        font-size: 32px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        color: rgba(32, 17, 22, 1);
      }
  
      p {
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        color: rgba(32, 17, 22, 1);
      }
  
      .icon {
        width: 62px;
        height: 62px;
        border-radius: 10px;
        margin: 0 auto 10px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
  
      .yellow {
        background-color: #ffcd3c;
      }
  
      .green {
        background-color: #00c48c;
      }
  
      .purple {
        background-color: #6c63ff;
      }
    }
  }
  
  .mapContainer {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
  
    img {
      width: 100%;
      display: block;
    }
  }
  
  .blinkDot {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #ff3b3b;
    border-radius: 50%;
    animation: blink 2s infinite;
    transform: scale(0);
  }
  
  @keyframes blink {
    0%, 55%, 100% {
      transform: scale(0);
    }
  
    5%, 50% {
      transform: scale(1);
    }
  }
  