.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    border: 2px solid #000;
    width: 100%;
    margin: auto;
    color: #000;
    padding: 40px 33px;
    position: relative;
    overflow: hidden;

    .whiteColor {
        h2 {
            color: #fff;
        }

        p {
            color: #fff;
        }
    }

    .blackColor {
        h2 {
            color: #000;
        }

        p {
            color: #000;
        }
    }

    h2 {
        font-weight: 700;
        font-style: italic;
        font-size: 36px;
        line-height: 46px;
        margin-bottom: 17px;
    }

    p {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #000;
        max-width: 456px;
        margin-bottom: 27px;
    }
.button {        
        background: #fff;
        border: 2px solid #000;
        border-radius: 10px;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.2s ease;
        box-shadow: 4px 4px 0px 0px #000000;
        min-width: 240px;
        min-height: 60px;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: center;
        justify-content: center;
        display: flex;
        align-items: center;
          max-width: max-content;

        &:hover {
            background-color: #f3f3f3;
        }
    }
    button {        
        background: #fff;
        border: 2px solid #000;
        border-radius: 10px;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.2s ease;
        box-shadow: 4px 4px 0px 0px #000000;
        min-width: 240px;
        min-height: 60px;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: center;

        &:hover {
            background-color: #f3f3f3;
        }
    }

    .right {
        flex-shrink: 0;
        position: absolute;
        right: -10px;
        top: 23px;
    }
}

.red {
    background-color: #e9143f;
}

.yellow {
    background-color: #ffd429;
}

@media (width <=992px) {
    .card {
        border-radius: 20px;
        padding: 30px 23px;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column-reverse;
       
    
        .whiteColor {
            h2 {
                color: #fff;
             
                line-height: normal;
            }
    
            p {
                color: #fff;
            }
        }
    
        .blackColor {
            h2 {
                color: #000;
            }
    
            p {
                color: #000;
            }
        }
    
        h2 {
            font-size: 26px;
            line-height: 32px;
            margin-bottom: 17px;
            max-width: 230px;
        }
    
        p {
            font-size: 12px;
            line-height: 17px;
            margin-bottom: 24px;
        }
    
        button {
            background: #fff;
            border: 2px solid #000;
            border-radius: 10px;
            font-weight: 600;
            cursor: pointer;
            transition: all 0.2s ease;
            box-shadow: 4px 4px 0px 0px #000000;
            min-width: 240px;
            min-height: 60px;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 0%;
            text-align: center;
    
            &:hover {
                background-color: #f3f3f3;
            }
        }
    
        .right {
          display: block;
           position: absolute;
             right: 20px;
          img {
            width: 60px;
            height: 60px;
          }
        }
    }
}


