.learnersSection {
  overflow: hidden;
  border-radius: 0px;

  .imageBox {
    position: relative;

    .studentNames {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      .container {
        height: 100%;
      }
    }

    img {
      width: 100%;
      height: auto;
    }

    .viewAllBtn {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  .infoBar {
    background: #FFEC5E;
    padding: 40px 0;
    font-family: var(--font-sora);

    .infobox {
      display: flex;
      justify-content: space-between;
      gap: 30px;
    }

    .infoNumbers {
      display: flex;
      gap: 60px;
      align-items: flex-end;
    }

    .infoLable {
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      span {
        font-weight: 400;
        font-size: 32px;
        line-height: 40px;
      }

      p {
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: 1%;
      }
    }

    .companies {
      text-align: left;
      max-width: max-content;

      h5 {
        font-weight: 600;
        font-size: 32px;
        line-height: 32px;
        color: #000;
        text-align: left;
        margin-bottom: 10px;
      }

      small {
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        color: #535353;
        text-align: left;
      }
    }

  }

  .viewAllBtn {
    border: 2px solid #000000;
    background: #000000;
    color: #FFFFFF;
    height: 40px;
    min-width: 140px;
    margin-bottom: 76px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

    &:hover {
      background: #E53F43;
    }
  }
}

.studentCard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: max-content;

  .studentBlock {
    display: flex;
    max-width: max-content;
    flex-direction: row-reverse;
    margin-right: -40px;

    .studentIcon {
      transform: rotate(0deg);
      top: -29px;
      position: relative;
      left: -8px;
    }
  }

  .studentName {
    font-weight: 600;
    font-style: italic;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    height: 34px;
    min-width: 99px;
    padding: 5px 16px;
    box-shadow: 2px 2px 0px 0px #000000;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: max-content;
    color: #fff;
    margin-bottom: 8px;
  }

  .studentDetails {
    border: 1px solid #000000;
    background: #FFFFFF;
    border-radius: 4px;
    padding: 6px 14px;
    max-width: max-content;
    display: flex;
    flex-direction: column;
    line-height: normal;
    gap: 4px;

    p {
      font-weight: 700;
      font-size: 12px;
      line-height: 100%;
      letter-spacing: 0%;
      color: #000;
    }

    span {
      font-weight: 400;
      font-size: 12px;
      line-height: 100%;
      letter-spacing: 0%;
      color: #000;
    }
  }
}

.cardThree {
  position: absolute;
bottom: 420px;
    right: 350px;
  align-items: flex-start;
  .studentBlock {
    flex-direction: row;
    margin-left: -40px;
    .studentName {
      color: #fff;
     }
    .studentIcon {
      transform: rotate(260deg);
      top: -27px;
      position: relative;
      left: 6px;
    }
  }
}





.cardOne {
  position: absolute;
     top: 360px;
    left: 245px;
}

.cardTwo {
  position: absolute;
      bottom: 360px;
    left: 170px;
}

.cardFour {
  position: absolute;
      right: 180px;
    top: 342px;
  align-items: flex-start;

  .studentBlock {
    flex-direction: row;
    margin-left: -40px;

    .studentIcon {
      transform: rotate(260deg);
      top: -27px;
      position: relative;
      left: 6px;
    }
  }

}

.cardFive {
  position: absolute;
     right: 20px;
    bottom: 388px;
  align-items: flex-start;

  .studentBlock {
    flex-direction: row;
    margin-left: -40px;
     .studentName {
      color: #000;
     } 
    .studentIcon {
      transform: rotate(260deg);
      top: -27px;
      position: relative;
      left: 6px;
    }
  }

}

.cardSix {
  position: absolute;
  bottom: 532px;
  right:26%;
  .studentBlock {
    
    .studentName {
      color: #000;
     } 
    }
}

.accreditationSection {
  display: none;
}

@media (width <=1224px) {
  .accreditationSection {
    display: block;
    margin-bottom: 40px;
    margin-top: 0;
  }

  .learnersSection {
    border-radius: 0;

    .imageBox {
      display: none;
    }

    .infoBar {
      padding: 40px 0 50px;

      .infoNumbers {
        flex-wrap: wrap;
        gap: 20px;
        row-gap: 40px;
      }

      .infobox {
        flex-direction: column;
        gap: 47px;

        .infoLable {

          span {
            font-weight: 400;
            font-size: 18px;
          }

          p {
            font-size: 32px;
            line-height: 100%;
          }
        }

        .companies {
          text-align: left;

          h5 {
            font-size: 24px;
          }

          small {
            font-weight: 400;
            font-size: 14px;
          }
        }

      }
    }

  }
}