// components/HeroSection.module.scss
.hero {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  height: auto;

  .heroImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; // Ensure it covers the full height
    z-index: 0;

    // &::after {
    //   content: '';
    //   background: rgba(0, 0, 0, 0.2);
    //   position: absolute;
    //   top: 0;
    //   right: 0;
    //   width: 100%;
    //   height: 100%;
    //   z-index: 1;
    // }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }

  .heroInner {
    position: relative;
    z-index: 11;
  }

  .bgImage {
    z-index: 0;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
  }

  .heroContentBox {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;

    .heroPlacements {
      position: relative;
      z-index: 111;
      width: 100%;

      img {
        width: 100%;
        max-width: 100%;
        height: auto;
      }

      .deskPlacements {
        display: block;
      }

      .mobilePlacements {
        display: none;
      }
    }
  }

  .content {
    position: relative;
    text-align: center;

    h1 {
      font-weight: 700;
      font-style: Italic;
      font-size: 80px;
      line-height: 109.00000000000001%;
      letter-spacing: 0%;
      text-align: center;
      color: #000;
      margin-top: 60px;
    }

    p {
      font-weight: 300;
      font-style: Light;
      font-size: 20px;
      line-height: 140%;
      letter-spacing: 0%;
      text-align: center;
      color: #000;
      max-width: 578px;
      margin: 10px auto 40px;
    }

    .applyAction {
      margin-bottom: 60px;

      a {
        height: 60px;
        min-width: 266px;
        box-shadow: 3px 3px 0px 0px #000000;
        border-radius: 100px;
        font-weight: 600;
        font-size: 18px;
        line-height: 37px;
        letter-spacing: 2%;
      }
    }
  }
}

@media (max-width: 991px) {
  .hero {
    height: auto;
    min-height: auto;
    .heroImage {
      height: auto;
      min-height: auto;

      img {
        object-fit: contain;
        height: auto;
        top: 280px;
      }
    }
    .heroContentBox {
      height: auto;
      min-height: auto;
      .content {
        position: relative;
        text-align: center;
        h1 {
          font-size: 32px;
          line-height: normal;
          margin-bottom: 50px;
        }
        p {
            font-size: 14px;
        }
      }

      .heroPlacements {
        .deskPlacements {
          display: none;
        }

        .mobilePlacements {
          display: block;
        }
      }
    }
  }
}
