.card {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 10px;
    overflow: hidden;

    .imageWrapper {
        width: 100%;
        height: 180px;
        display: flex;
        align-items: center;
        justify-content: center;

        .cardImage {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .cardBody {
        padding: 20px 20px 40px;

        .cardStatus {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;
        }

        .tag {
            font-weight: 500;
            font-size: 11px;
            line-height: normal;
            letter-spacing: 2%;
            text-transform: uppercase;
            background: rgba(182, 234, 213, 1);
            border: 1px solid rgba(0, 0, 0, 1);
            padding: 0 8px;
            min-width: 56px;
            border-radius: 2px;
            margin-bottom: 0;
            display: flex;
            width: max-content;
        }

        .status {
            font-weight: 500;
            font-size: 12px;
            line-height: 100%;
            letter-spacing: 0%;
        }

        p {
            font-weight: 400;
            font-size: 12px;
            line-height: normal;
            color: rgba(32, 17, 22, 1);
            margin-bottom: 7px;

        }

        .subtitle {
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            letter-spacing: 0%;
            margin-bottom: 16px;
        }

        .meta {
            display: flex;
            gap: 8px;
            margin-bottom: 24px;

            span {
                color: rgba(32, 17, 22, 1);
                padding: 4px 10px;
                border: 1px solid rgba(0, 0, 0, 1);
                font-weight: 400;
                font-size: 12px;
                line-height: normal;
                border-radius: 2px;
            }
        }

        .participants {
            display: flex;
            align-items: center;

            .participantImg {
                width: 32px;
                height: 32px;
                border: solid 2px #fff;
                border-radius: 100px;
                overflow: hidden;
                margin-left: -10px;

                &:first-child {
                    margin-left: 0;
                }
            }

            .count {
                font-weight: 500;
                font-size: 14px;
                line-height: normal;
                letter-spacing: 0%;
                color: rgba(54, 112, 255, 1);
                margin-left: 11px;
            }
        }
    }

    .cardFooter {
        background: rgba(255, 204, 213, 1);
        border-top: 1px solid rgba(0, 0, 0, 1);
        width: 100%;
        display: flex;
        min-height: 60px;
        align-items: center;
        justify-content: space-between;
        padding: 0 38px;

        span {
            font-weight: 500;
            font-size: 14px;
            line-height: normal;
            color: rgba(0, 0, 0, 1);
        }
    }
}

@media (width <=992px) {
    .card {
        border-radius: 4px;

        .imageWrapper {
            height: 150px;
        }

        .cardBody {
            padding: 12px 16px 20px;

            .cardStatus {
                margin-bottom: 8px;
            }
            .tag {
                height: 25px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .subtitle {
                margin-bottom: 6px;
            }

            .meta {
                margin-bottom: 20px;
            }

            .participants {
                display: flex;
                align-items: center;

                .participantImg {
                    width: 32px;
                    height: 32px;
                    border: solid 2px #fff;
                    border-radius: 100px;
                    overflow: hidden;
                    margin-left: -10px;

                    &:first-child {
                        margin-left: 0;
                    }
                }

                .count {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: normal;
                    letter-spacing: 0%;
                    color: rgba(54, 112, 255, 1);
                    margin-left: 11px;
                }
            }
        }
        .cardFooter {
            
            min-height: 60px;
            padding: 0 20px;
    
            span {
                font-size: 16px;
                color: rgba(0, 0, 0, 1);
            }
        }
    }
}