.accredited {
    background: rgba(255, 255, 255, 1);
    padding: 16px 14px;
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 6px;
    width: max-content;
    height: auto;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-top: 40px;

    label {
      font-weight: 500;
      font-size: 13px;
      line-height: 16px;
      letter-spacing: 5%;
      text-transform: uppercase;
      color: rgba(0, 0, 0, 1);
      margin-bottom: 8px;
    }

    p {
      color: #000;
      font-size: 14px;
      margin-bottom: 0;
    }

    .accreditedImg {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }


  @media (width <=991px) {
  .accredited {
    padding: 16px 12px;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-top: 0;

    label {
      font-weight: 500;
      font-size: 11px;
      line-height: 13px;
      letter-spacing: 5%;
      text-transform: uppercase;
    }

    p {
      color: #000;
      font-size: 14px;
      margin-bottom: 0;
    }

    .accreditedImg {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 60%;
    }
  }
  }

 