.digitalToolsSection {
  margin-bottom: 115px;

  .sectionTitle {
    font-weight: 700;
    font-style: italic;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0%;
    max-width: 581px;
    margin-bottom: 24px;
  }

  .sectionDescription {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: rgba(15, 11, 49, 1);
    margin-bottom: 30px;
    max-width: 870px;
  }

  .digitalToolList {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;

    .digitalTooItem {
      height: 80px;
      background: rgba(245, 245, 245, 1);
      border-radius: 10px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
      }
    }
  }


}

.tabs {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
  overflow-y: auto;
  /* For Firefox */
      -ms-overflow-style: none;
      /* For Internet Explorer and Edge */

      &::-webkit-scrollbar {
        display: none;
        /* For Chrome, Safari, and Opera */
      }
}

.tabButton {
  height: 40px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 37px;
  color: rgb(32, 17, 22);
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-image: initial;
  border-radius: 50px;
  background-color: #fff;

  &.activeTab {
    border: 2px solid rgb(255, 0, 0);
    font-weight: 700;
    font-style: italic;
    color: rgb(255, 0, 0);
  }
}

@media (width <=992px) {
  .digitalToolsSection {
    margin-bottom: 40px;

    .sectionTitle {
      font-style: italic;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 0%;
      max-width: 581px;
      margin-bottom: 16px;
    }

    .sectionDescription {
      font-weight: 500;
      font-size: 12px;
      line-height: 17px;
      letter-spacing: 0%;
      color: rgba(15, 11, 49, 1);
      margin-bottom: 27px;
      max-width: 870px;
    }

    .digitalToolList {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 10px;

      .digitalTooItem {
        height: 50px;
        background: rgba(245, 245, 245, 1);
        border-radius: 10px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 10px;
        }
      }
    }


  }

}