.applyForm {
    display: flex;
    align-items: center;
    gap: 30px;
    height: 100%;
}

.formBox {
    height: 100%;

    form {
        height: 100%;
    }

    h3 {
        font-weight: 500;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: left;
        margin-bottom: 24px;
        color: #201116;
    }

    button {
        background: #DC3545;
    }
}

.formBanner {
    img {
        height: auto;
    }
}

.closeForm {
    position: absolute;
    right: 30px;
    top: 20px;
   
        background-color: transparent;
        border: none;
}

.formHeader {
    display: none;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    button {
        background-color: transparent;
        border: none;
    }
}

@media (width <=991px) {
    .closeForm {
        display: none;
    }
    .applyForm {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 30px;
    }
    .formHeader {
        display: flex;
      
    }
    .formBanner {
        display: none;
    }

    .formBox {
        height: calc(100% - 150px);

        form {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}