.applyForm {
    display: flex;
    align-items: center;
    gap: 30px;
    height: 100%;
}

.formBox {
    height: 100%;

    form {
        height: 100%;
    }

    h3 {
        font-weight: 500;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: left;
        margin-bottom: 24px;
        color: #201116;
    }

    button {
        background: #DC3545;
    }
}

.formBanner {
    img {
        height: auto;
    }
}

.closeForm {
    position: absolute;
    right: 30px;
    top: 20px;

    background-color: transparent;
    border: none;
}

.formHeader {
    display: none;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;

    button {
        background-color: transparent;
        border: none;
    }
}

.facultyBox {
    background-color: #ACACAC;
    max-width: 500px !important;
    width: 500px;
    display: flex;
    align-items: center;

    .facultyImg {
        img {
            max-width: 181px;
            height: auto;
        }
    }

    .facultyInfo {
        h3 {
            font-weight: 700;
            font-style: Italic;
            font-size: 28px;
            line-height: 24px;
            letter-spacing: 0%;
            text-transform: uppercase;
            margin-bottom: 4px;
        }
    }
}

.facultyDetails {
    padding: 40px;

    .description {
        margin-bottom: 20px;
        font-weight: 400;
        font-size: 14px;
        line-height: normal;
        letter-spacing: 2%;
        text-transform: capitalize;
    }

    .facultyExpertise {
        margin-bottom: 21px;
        font-weight: 400;
        font-size: 12px;
        line-height: normal;
        text-transform: capitalize;

        span {
            font-weight: 700;
            font-style: Italic;
            font-size: 16px;
            line-height: normals;
            letter-spacing: 2%;
            text-transform: capitalize;
            margin-bottom: 4px;
        }
    }

    .facultyBrand {
        span {
             font-weight: 700;
            font-style: Italic;
            font-size: 16px;
            line-height: normals;
            letter-spacing: 2%;
            text-transform: capitalize;
             margin-bottom: 4px;
        }

        img {
            height: auto;
        }
    }
}

@media (width <=991px) {
    .closeForm {
        display: none;
    }

    .applyForm {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 30px;
    }

    .formHeader {
        display: flex;

    }

    .formBanner {
        display: none;
    }

    .formBox {
        height: calc(100% - 150px);

        form {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}