


.lifeAtDA360Section {
  margin-bottom: 140px;

  .plaYbtn {
    background-color: transparent;
    border: none;
  }
}

.plaYbtn {
  box-sizing: content-box;
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
      border: none;
  &::before, &::after {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  &::before {
    background: #1D1D1D;
    animation: pulse-border 1500ms ease-out infinite;
  }

  &::after {
    background: #1D1D1D;
    z-index: 1;
    transition: all 200ms;
  }

  // &:hover::after {
  //   background-color: #1D1D1D;
  // }

  img {
    position: relative;
    z-index: 3;
    max-width: 100%;
    width: auto;
    height: auto;
  }

  span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 32px solid #fff;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
  }
}

@keyframes pulse-border {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 0;
  }
}

@keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}


.lifeAtDA360Header {
  margin-bottom: 60px;

  h2 {
    font-weight: 700;
    font-style: italic;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0%;
    margin-bottom: 24px;
    color: rgba(0, 0, 0, 1);
    text-align: center;
  }

  p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: rgba(15, 11, 49, 1);
        max-width: 863px;
    margin: 0 auto;
    text-align: center;

  }
}


.sliderWrapper {
  position: relative;

  &:hover {
    .sliderNavigation {
      position: absolute;
      opacity: 1;
    }
  }

  .sliderNavigation {
    position: absolute;
    opacity: 0;
    top: calc(60% - 50px);
    width: 100%;
    transition: 0.2s ease-in-out;

    button {
      width: 50px;
      height: 50px;
      right: 25px;
      border-radius: 50px;
      box-shadow: none;
      border: none;
    }
  }
}

.videoBoxBlock {
   border-radius: 10px !important;
}

.customSlide {
  max-width: 600px;
}

@media (width <=1366px) {
  .videoBoxBlock {
    border-radius: 16px !important;
    overflow: hidden;
  }
}

@media (width <=1200px) {
  .lifeAtDA360Section {
    margin-bottom: 60px;
  }
}

@media (width <=991px) {


  .plaYbtn {
 
  &::before, &::after {
    
    width: 48px;
    height: 48px;
  }
  img {
   
    width: 15px;
    height: 19px;
  }


}

  .lifeAtDA360Section {
    margin-bottom: 60px;
  }

  .lifeAtDA360Header {
    margin-bottom: 40px;

    h2 {
      font-weight: 700;
      font-style: italic;
      font-size: 24px;
      line-height: 100%;
      text-align: center;
      margin-bottom: 10px;
    }

    p {
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0%;
      text-align: center;

      color: rgba(15, 11, 49, 1);
      max-width: 303px;
      margin: 0 auto;
    }
  }

  .videoBox {
    min-height: 207px !important;

    iframe {
      min-height: 207px !important;
    }
  }

  .videoImgBox {
    border-radius: 16px;
    overflow: hidden;

    img {
      height: 207px !important;
    }
  }
}