.lifeAtDA360Section {
  margin-bottom: 140px;

  .plaYbtn {
    background-color: transparent;
    border: none;
  }
}

.plaYbtn {
  box-sizing: content-box;
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;

  &::before,
  &::after {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  &::before {
    background: #1D1D1D;
    animation: pulse-border 1500ms ease-out infinite;
  }

  &::after {
    background: #1D1D1D;
    z-index: 1;
    transition: all 200ms;
  }

  img {
    position: relative;
    z-index: 3;
    max-width: 100%;
    width: auto;
    height: auto;
  }

  span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 32px solid #fff;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
  }
}

@keyframes pulse-border {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 0;
  }
}

@keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

.sliderWrapper {
  position: relative;

  &:hover {
    .sliderNavigation {
      position: absolute;
      opacity: 1;
    }
  }

  .sliderNavigation {
    position: absolute;
    opacity: 0;
    top: calc(60% - 50px);
    width: 100%;
    transition: 0.2s ease-in-out;

    button {
      width: 50px;
      height: 50px;
      right: 25px;
      border-radius: 50px;
      box-shadow: none;
      border: none;
    }
  }
}



.customSlide {
  max-width: 600px;
}

.sliderNavigation {
  display: flex;
  justify-content: center;
  gap: 15px;
  position: absolute !important;
  top: 270px !important;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.swiperPrev {
  left: 0px !important;
}

.swiperNext {
  right: 0px !important;
}

.videoBoxBlock {
  border-radius: 16px !important;
}

@media (width <=1366px) {
  .videoBoxBlock {
    border-radius: 16px !important;
    overflow: hidden;
  }
}

@media (width <=1200px) {
  .lifeAtDA360Section {
    margin-bottom: 60px;
  }
}

@media (width <=991px) {
  .customSlide {
    max-width: 285px;
  }

  .sliderNavigation {
    top: 100px !important;
  }


  .plaYbtn {

    &::before,
    &::after {

      width: 48px;
      height: 48px;
    }

    img {

      width: 15px;
      height: 19px;
    }


  }

  .lifeAtDA360Section {
    margin-bottom: 60px;
  }

  .videoBox {
    min-height: 207px !important;

    iframe {
      min-height: 207px !important;
    }
  }

  .videoBoxBlock {
    border-radius: 10px !important;
  }

  .videoImgBox {
    border-radius: 10px;
    overflow: hidden;

    img {
      height: 207px !important;
    }
  }
}