.quickMenu {
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);

    min-width: 500px;
    max-width: 500px;

    .links {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px 30px;
        margin-bottom: 0;
        padding: 40px 40px 30px;

        .linkItem {
            h4 {
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 2px;
                color: #000;
            }

            p {
                font-size: 14px;
                color: #000;
                font-weight: 400;
            }
        }
    }

    .phoneIcon {
        background: #000000;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
    }

    .whatsapp {
        background: #60D669;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
    }

    .bottomButtons {
        display: flex;
        justify-content: space-around;
        border-top: 1px solid #000;
        padding: 26px 40px;

        .button {
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: 15px;
            font-weight: 600;
            cursor: pointer;

            svg {
                font-size: 18px;
            }
        }

        .callButton {
            color: #000;
            color: #000;

            a {
                display: flex;
                align-items: center;
                gap: 8px;

                span {
                    font-size: 14px;
                }
            }

        }

        .whatsappButton {
            color: #000;

            a {
                display: flex;
                align-items: center;
                gap: 8px;

                span {
                    font-size: 14px;
                }
            }
        }
    }
}

@media (width <=992px) {
    .quickMenu {
        min-width: 90%;
        max-width: 90%;
        .links {
            gap: 20px 20px;
            margin-bottom: 0;
            padding: 20px 20px 10px;
        }
    }
 }