.openingsSection {
    padding: 140px 0;

    .sectionHeader {
        margin-bottom: 60px;

        h2 {
            font-weight: 700;
            font-style: italic;
            font-size: 48px;
            line-height: 60px;
            letter-spacing: 0%;
        }
    }

    .jobCard {
        background-color: #fff;
        padding: 40px;
        display: flex;
        justify-content: space-between;

        &:hover {
            box-shadow: 4px 4px 0px 0px #000000;
            background: #FFEC5E;
            cursor: pointer;
            transition: all 0.3s ease;
        }

        .jobDec {
            h5 {
                font-weight: 500;
                font-size: 28px;
                line-height: 100%;
                letter-spacing: 0%;
                color: #000;
                margin-bottom: 8px;
            }

            p {
                font-weight: 400;
                font-size: 18px;
                line-height: 100%;
                color: #000;
            }
        }

        .arrow {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .row {
        --bs-gutter-x: 33px;
        --bs-gutter-y: 28px;
    }

    .ourHiringProcess {
        margin-top: 100px;

        .subheading {
            margin-bottom: 60px;

            h2 {
                font-weight: 400;
                font-style: italic;
                font-size: 40px;
                line-height: 60px;
                color: #201116;
            }
        }

        .row {
            --bs-gutter-x: 77px;
        }

        .ourHiringItem {
            .ourHeading {
                border-bottom: 3px solid #000000;
                margin-bottom: 30px;

                span {
                    font-weight: 500;
                    font-size: 50px;
                    line-height: 60px;
                    color: #201116;
                    padding-bottom: 28px;
                    display: block;
                }
            }

            .ourHiringDec {
                span {
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    color: #201116;
                    margin-bottom: 10px;
                    display: block;
                }

                p {
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 28px;
                    letter-spacing: 0%;
                    color: #000;
                }
            }
        }

    }
}

@media (width <=992px) {
    .openingsSection {
        padding: 60px 0;

        .row {
            --bs-gutter-y: 10px;
        }

        .sectionHeader {
            margin-bottom: 24px;

            h2 {
                font-size: 24px;
                line-height: 32px;
                text-align: center;
            }
        }

        .jobCard {
            padding: 24px;

            &:hover {
                .arrow {
                    svg {
                        opacity: 1;
                    }
                }
            }

            .jobDec {
                h5 {
                    font-size: 16px;
                    margin-bottom: 6px;
                }

                p {
                    font-size: 12px;
                }
            }

            .arrow {
                display: flex;
                align-items: center;
                justify-content: center;

                svg {
                    width: 28px;
                    height: 28px;
                    opacity: 0;
                }
            }
        }

        .ourHiringProcess {
            margin-top: 60px;

            .subheading {
                margin-bottom: 24px;

                h2 {
                    font-size: 24px;
                    line-height: normal;
                    color: #201116;
                }
            }

            .ourHiringItem {
                .ourHeading {
                    border-bottom: 3px solid #000000;
                    margin-bottom: 24px;
                    span {
                        font-size: 32px;
                        line-height: 60px;
                        padding-bottom: 7px;
                    }
                }
    
                .ourHiringDec {
                    span {
                        font-size: 16px;
                    }
    
                    p {
                        font-size: 12px;
                        line-height: 18px;
                    }
                }
            }

        }
    }



}