.guestFaculty {
    margin-top: 140px;
    margin-bottom: 140px;
    .sectionHeader {
        margin-bottom: 60px;
        h2 {
            font-weight: 700;
            font-style: italic;
            font-size: 48px;
            line-height: 60px;
            text-align: center;
            color: #000;
            margin-bottom: 20px;
        }
        p {
            font-weight: 500;
            font-size: 22px;
            line-height: normal;
            text-align: center;
            max-width: 604px;
            margin: 0 auto;
        }
    }

    .row {
        --bs-gutter-x: 40px;
        --bs-gutter-y: 40px;
    }
}

.customSlide {
    max-width: 261px;
}


@media (width <=992px) {
    .guestFaculty { 
        margin-top: 60px;
        margin-bottom: 60px;
        .sectionHeader {
            margin-bottom: 24px;
            h2 {
              
                font-size: 24px;
                line-height: normal;
                margin-bottom: 0;
            }
            p {
                font-size:16px;
                line-height: normal;
            }
        }
    }
 }