.sponsorsSection {
    padding-bottom: 140px;

    .sponsorList {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 32px;
    }

    .logoWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 210px;
        height: 100px;
    }

    .logo {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }
}


@media (width <=992px) {
    .sponsorsSection {
        padding-bottom: 60px;
     }
}