.ourPeopleSection {
  background: #000000;
  padding: 80px 0;

  .sectionHeader {
    margin-bottom: 40px;
    h2 {
      font-weight: 700;
      font-style: italic;
      font-size: 48px;
      line-height: 60px;
      letter-spacing: 0%;
      color: #fff;
      margin-bottom: 20px;
    }

    p {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #fff;
    }
  }
  
  .grid {
    display: grid;
    row-gap: 60px;
    column-gap: 24px;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }
}



@media (width <=991px) {
  .ourPeopleSection { 
    padding: 60px 0;
    .sectionHeader {
      margin-bottom: 40px;
      h2 {
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 20px;
      }
    }
    .grid {
      display: grid;
      row-gap: 30px;
      column-gap: 24px;
      grid-template-columns: repeat(1, minmax(200px, 1fr));
    }
  }
}