.whyWorkSection {
    margin: 0 auto 140px;
}

.contentImg {
    max-width: 575px;
    min-height: 583px;
    overflow: hidden;
    padding-right: 0;

    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

.contentBox {
    background-color: #e5003d;
    color: white;
    text-align: left;
    width: calc(100% - 590px);
    display: flex;

    h2 {
        font-weight: 500;
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 30px;

        span {
            display: inline;
            color: #fff;
        }
    }

    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
    }

    .ctaBtn {
        display: inline-flex;
        align-items: center;
        gap: 10px;
        color: #fff;
        text-decoration: none;
        position: relative;
        transition: all 0.3s ease;
        text-decoration: none;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        text-align: center;

        &:hover {
            text-decoration: none;

            .arrow {
                transform: translateX(5px);
            }
        }

        .arrow {
            font-size: 1.2rem;
            transition: transform 0.3s ease;
        }
    }

    .contentInfo {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-between;
        padding: 40px 40px 60px;
        .list {
            ul {
                display: flex;
                gap: 20px;
                flex-direction: column;
                margin-bottom: 20px;
                span {
                    font-weight: 600;
                }
                li {
                    display: flex;
                    flex-direction: column;
                    gap: 2px;
                }
            }
        }
    }
}

@media (width <=991px) {
    .whyWorkSection {
        margin: 0 auto 60px;
    }
    .contentImg {
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x) * .5);
        min-height: 244px;
    }
    .contentBox { 
        width: auto;
        background-color: #ffffff;
        h2 {
            font-size: 24px;
            line-height: 32px;
            margin-bottom: 16px;
        }
        p {
            font-size: 12px;
            line-height: 18px;
        }
        .contentInfo { 
            padding: 20px;
            background-color: #e5003d;
        }
        .ctaBtn {
            margin-top: 26px;
            font-size: 14px;
            line-height: 24px;
        }
    }
 }