.whyWorkSection {
    margin: 0 auto 140px;
}

.contentImg {
    max-width: 575px;
    min-height: 583px;
    overflow: hidden;
    padding-right: 0;

    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

.contentBox {
    background-color: #e5003d;
    color: white;
    text-align: left;
    width: calc(100% - 590px);
    display: flex;

    h2 {
        font-weight: 500;
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 30px;

        span {
            display: inline;
            color: #fff;
        }
    }

    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
    }

    .ctaBtn {
        display: inline-flex;
        align-items: center;
        gap: 10px;
        color: #fff;
        text-decoration: none;
        position: relative;
        transition: all 0.3s ease;
        text-decoration: none;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        text-align: center;

        &:hover {
            text-decoration: none;

            .arrow {
                transform: translateX(5px);
            }
        }

        .arrow {
            font-size: 1.2rem;
            transition: transform 0.3s ease;
        }
    }

    .contentInfo {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-between;
        padding: 40px 40px 60px;
    }
}