.contentSection {
    padding: 120px 0;

    .contentBox {
        display: flex;
        gap: 15px;
        flex-direction: column;

        .contentItem {
            h2 {
                font-weight: 500;
                font-size: 28px;
                line-height: 50px;
                margin-bottom: 10px;
                color: #0f0b31;
            }
            p {
                font-weight: 400;
                font-size: 14px;
                line-height: 25px;
                color: #3f3c5a;
                margin-bottom: 15px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            ul {
                margin-bottom: 15px;
                &:last-child {
                    margin-bottom: 0;
                }
                li {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 25px;
                    color: #3f3c5a;
                    margin-bottom: 5px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}