.counterItem {
    h2 {
      font-weight: 800;
      font-style: italic;
      font-size: 60px;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: center;
      text-transform: uppercase;
      color: rgba(153, 68, 247, 1);
      margin-bottom: 6px;
  
      span {
        font-weight: 600;
        font-size: 50px;
      }
    }
  
    p {
      font-weight: 600;
      font-size: 16px;
      line-height: 21px;
      letter-spacing: 0%;
      text-align: center;
      color: rgba(0, 0, 0, 1);
      max-width: 228px;
      margin: 0 auto;
    }
  }

  @media (width <=991px) {
    .counterItem {
        h2 {
          font-weight: 600;
          font-style: italic;
          font-size: 32px;
          line-height: 100%;
          letter-spacing: 0%;
          text-align: center;
  
          text-transform: uppercase;
          color: rgba(153, 68, 247, 1);
          margin-bottom: 6px;
  
          span {
            font-weight: 600;
            font-size: 32px;
          }
        }
  
        p {
          font-weight: 600;
          font-size: 12px;
          line-height: 16px;
          letter-spacing: 0%;
          text-align: center;
          color: rgba(0, 0, 0, 1);
          max-width: 160px;
          margin: 0 auto;
        }
      }
   }