.trustedByLearnersSection {
    padding-bottom: 140px;

    .sectionHeader {
        margin-bottom: 60px;

        h2 {
            font-weight: 700;
            font-style: italic;
            font-size: 48px;
            line-height: 60px;
            text-align: center;
            color: #201116;
            margin-bottom: 20px;
        }

        p {
            font-weight: 500;
            font-size: 16px;
            line-height: 100%;
            text-align: center;
            color: #000000;
            max-width: 650px;
            margin: 0 auto;
        }
    }

    .reviewCards {
        display: flex;
        gap: 24px;
        justify-content: center;
        flex-wrap: wrap;
      
        .card {
            border: 1px solid #000000;
            border-radius: 8px;
            padding: 14px;
            min-width: 250px;
            display: flex;
            gap: 22px;
            align-items: center;
            background: #FFFFFF;
            .reviewDetails {
                .rating {
                    font-weight: 700;
                    font-size: 32px;
                    line-height: 100%;
                    display: flex;
                    align-items: center;
                    gap: 14px;
                    min-height: 48px;
                }

                p {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 100%;
                    text-align: center;
                }
            }
        }
    }
}

@media (width <=991px) {
    .trustedByLearnersSection {
        margin-bottom: 60px;
        .sectionHeader {
            margin-bottom: 40px;
    
            h2 {
                font-size: 24px;
                line-height: 32px;
            }
    
            p {
                font-size: 12px;
                line-height:16px;
                max-width: 320px;
            }
        }
        .reviewCards {
            gap: 10px;
    
            .card {
                border-radius: 4px;
                padding: 14px;
                width:175px;
                min-width: 175px;
                display: flex;
                gap: 14px;
                align-items: center;
                .reviewIcon {
                    img {
                        max-width: 32px;
                        height: 32px;
                    }
                }
                .reviewDetails {
                    .rating {
                        font-size: 20px;
                        line-height: normal;
                        gap: 6px;
                        min-height: 30px;
                    }
                    p {
                        font-size: 12px;
                        line-height:normal;
                        text-align: center;
                    }
                }
            }
        }
     }
 }
 @media (width <=768px) {
    .trustedByLearnersSection {
        margin-bottom: 60px;
       
        .reviewCards {
            gap: 10px;
    
            .card {
                padding: 12px;
                width:168px;
                min-width: 168px;
                display: flex;
                gap: 10px;
            }
        }
     }
 }