.trustedByLearnersSection {
  .reviewCards {
    display: flex;
    gap: 24px;
    justify-content: center;
    flex-wrap: wrap;

    .card {
      border: 1px solid #000000;
      border-radius: 8px;
      padding: 14px;
      min-width: 260px;
      height: 126px;
      display: flex;
      gap: 22px;
      align-items: center;
      justify-content: center;
      background: #ffffff;
      .skillIcon {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 31px;
        margin: 0 auto;
      }
      .reviewDetails {
        .rating {
          font-weight: 700;
          font-size: 32px;
          line-height: 100%;
          display: flex;
          align-items: center;
          gap: 14px;
          min-height: 48px;
          span {
            font-size: 22px;
            position: relative;
            top: -8px;
          }
        }

        p {
          font-weight: 500;
          font-size: 16px;
          line-height: 100%;
          text-align: center;
        }
      }
    }
  }
}

@media (width <=991px) {
  .trustedByLearnersSection {
    .skillIcon {
      img {
        width: auto;
        height: 60px;
      }
    }
    .reviewCards {
      gap: 10px;

      .card {
        border-radius: 4px;
        padding: 14px;
        width: 175px;
        min-width: 175px;
        height: 72px;
        display: flex;
        gap: 14px;
        align-items: center;
        .reviewIcon {
          img {
            max-width: 32px;
            height: 32px;
          }
        }
        .reviewDetails {
          .rating {
            font-size: 20px;
            line-height: normal;
            gap: 6px;
            min-height: 30px;
          }
          p {
            font-size: 12px;
            line-height: normal;
            text-align: center;
          }
        }
      }
    }
  }
}
@media (width <=768px) {
  .trustedByLearnersSection {
    .reviewCards {
      gap: 10px;

      .card {
        padding: 6px;
        width: 168px;
        min-width: 168px;
        display: flex;
        gap: 10px;
        .skillIcon {
          column-gap: 16px;
        }
      }
    }
  }
}

.trustedByLearnersSection {
  padding: var(--padding-mobile, 0 0 60px 0);

  @media (min-width: 992px) {
    padding: var(--padding-desktop, 0 0 140px 0);
  }
}
