.timeline {
    display: flex;
    justify-content: center;
    background: #000;
    color: #fff;
    padding: 140px 0;

    .sectionHeader {
        margin-bottom: 120px;
        width: 100%;

        h2 {

            font-weight: 700;
            font-style: italic;
            font-size: 48px;
            line-height: 60px;
            letter-spacing: 0%;
            color: #fff;
            text-align: left;
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        max-width: 900px;
        row-gap: 100px;

        &::before {
            content: '';
            position: absolute;
            left: 50%;
            top: 0;
            bottom: 0;
            width: 1px;
            background: #f5f5f5;
            transform: translateX(-36px);
        }
    }

    .step {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;

        position: relative;
        transform: translateY(00px);
        transition: all 0.6s ease;

        .label {
            width: 45%;
            text-align: left;
            color: #fff;
            opacity: 0.5;
            font-weight: 500;
            font-size: 28px;
            line-height: normal;
            letter-spacing: 0%;
            max-width: 333px;
        }

        .dot {
            width: 11px;
            height: 11px;
            min-height: 16px;
            min-width: 16px;
            border-radius: 50%;
            background: #fff;
            margin: 0 60px;
            transition: background 0.3s ease;
        }

        .text {
            width: 45%;
            color: #fff;
            opacity: 0.5;
            font-weight: 400;
            font-size: 14px;
            line-height: normal;
            letter-spacing: 2%;
            max-width: 431px;
        }

        &.active .dot {
            background: #fff;
        }

        &.active .label {
            transform: translateY(0);
            opacity: 1;
        }

        &.active .text {
            transform: translateY(0);
            opacity: 1;
        }
    }
}

@media (max-width: 991px) {
    .timeline {
        padding: 40px 0;

        .sectionHeader {
            margin-bottom: 40px;
            width: 100%;

            h2 {
                font-size: 24px;
                line-height: normal;
                text-align: center;
            }
        }

        .container {
            row-gap: 40px;

            &::before {
                content: '';
                left: 45px;
                        top: 20px;
            }
        }

        .step {
            width: 100%;
            flex-direction: column;
            left: 30px;
            .label {
                width: 100%;
                text-align: left;
                color: #fff;
                opacity: 0.5;
                font-weight: 500;
                font-size: 16px;
                line-height: normal;
                max-width: max-content;
            }

            .dot {
               left: -28px;
        position: relative;
        top: -20px;
        margin: 0;
            }

            .text {
                width: 90%;
                color: #fff;
                opacity: 0.5;
                font-weight: 400;
                font-size: 12px;
                line-height: normal;
                letter-spacing: 2%;
                max-width: 431px;
            }

            &.active .dot {
                background: #fff;
            }

            &.active .label {
                transform: translateY(0);
                opacity: 1;
            }

            &.active .text {
                transform: translateY(0);
                opacity: 1;
            }
        }
    }
}