.ourSuccessStorieshome {
  margin-bottom: 0 !important;
  padding: 60px 0 40px 0px;
  background-image: url("/images/successStoriesHome.svg");
  background-size: cover;
  background-position: bottom;
}

.successWrapperHome {
  background-image: none !important;
  border: none !important;
}
