


.unlockBonusesSection {
  margin-top: 140px;

  .container {
    max-width: 1058px;
  }

  .row {
    --bs-gutter-x: 37px;
    --bs-gutter-y: 37px;
  }

  .sectionHeader {
    max-width: 567px;
    margin: 0 auto 60px;

    h2 {
      font-weight: 700;
      font-style: italic;
      font-size: 48px;
      line-height: 60px;
      letter-spacing: 0%;
      text-align: center;
      margin-bottom: 14px;
    }

    p {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0%;
      text-align: center;
      color: rgba(15, 11, 49, 1);

    }
  }

  .unlockBonusesCard {
    border: 2px solid rgba(0, 0, 0, 1);
    box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 1);
    border-radius: 20px;
    padding: 32px;
    height: 100%;

    .unlockBonusesImage {
      height: 125px;
      width: 125px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto 28px;

      img {
        height: auto;
        width: auto;
      }
    }

    .unlockBonusesContent {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 28px;
    }

    .title {
      font-weight: 600;
      font-size: 20px;
      line-height: 25px;
      letter-spacing: 0%;
      text-align: center;
      min-height: 50px;
    }

    .value {
      font-weight: 600;
      font-size: 16px;
      line-height: 23px;
      letter-spacing: 0%;
      text-align: center;
      color: rgba(254, 54, 72, 1);

    }
  }

}


@media (width <=768px) {
  .unlockBonusesSection {
    margin-top: 0px;

    .row {
      --bs-gutter-x: 12px;
      --bs-gutter-y: 24px;
    }

    .sectionHeader {
      margin: 0 auto 40px;

      h2 {
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        max-width: 290px;
        margin: 0 auto 16px;
      }

      p {

        font-size: 12px;
        line-height: 18px;
        max-width: 168px;
        margin: 0 auto;
      }
    }

    .unlockBonusesCard {
      border: 2px solid rgba(0, 0, 0, 1);
      box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 1);
      border-radius: 4px;
      padding: 20px 16px 11px;
      height: 100%;

      .unlockBonusesImage {
        height: 80px;
        width: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto 26px;

        img {
          height: auto;
          width: 100%;
        }
      }

      .unlockBonusesContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 16px;
        column-gap: 12px;
      }

      .title {
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0%;
        text-align: center;
        min-height: 36px;
      }

      .value {
        font-weight: 600;
        font-size: 14px;
        line-height: 23px;
        letter-spacing: 0%;
        text-align: center;
        color: rgba(254, 54, 72, 1);

      }
    }
  }

}