.digitalAcademySection {
  margin-top: 140px;
  margin-bottom: 140px;
  &:hover {
    .sliderNavigation {
      position: absolute;
      opacity: 1;
    }
  }
  .sectionHeader {
    margin-bottom: 60px;

    h2 {
      font-weight: 700;
      font-style: italic;
      font-size: 48px;
      line-height: 60px;
      letter-spacing: 0%;
      text-align: center;
      color: rgba(0, 0, 0, 1);
      max-width:674px;
      margin: 0 auto 13px;
    }
  }


  .card {
    .cardImg {
      margin-bottom: 24px;
      img {
        width: 100%;
        height: auto;
      }
    }
    .cardDescription {
      h3 {
font-weight: 600;
font-size: 24px;
line-height: 36px;
color: #000;
min-height: 72px;
      }
    }
  }


  .sliderNavigation {
    position: absolute;
    opacity: 0;
    top: calc(60% - 50px);
    width: 100%;
    transition: 0.2s ease-in-out;

    button {
      width: 50px;
      height: 50px;
      right: 25px;
      border-radius: 50px;
      box-shadow: none;
      border: none;
    }
  }
}

.customSlide {
  max-width: 450px;
}

.sliderNavigation {
   display: flex;
  justify-content: center;
  gap: 15px; /* Optional: Adjust the space between buttons */
  position: absolute !important;
  top: 210px !important;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.swiperPrev {
  left: 0px !important;
}
.swiperNext {
  right: 0px !important;
}

@media (max-width: 992px) {
  .customSlide {
    max-width: 320px;
  }
  
  .digitalAcademySection {
    margin-top: 60px;
    margin-bottom: 60px;

    .sectionHeader {
      margin-bottom: 40px;
      h2 {
        font-size: 32px;
        line-height: 34px;
        margin: 0;
      }
    }

    .card {
      .cardImg {
        margin-bottom: 24px;

        img {
          width: 100%;
          height: auto;
        }
      }

      .cardDescription {
        h3 {
          font-weight: 600;
          font-size: 24px;
          line-height: 36px;
          color: #000;
          min-height: 72px;
        }
      }
    }

    .sliderNavigation {
      position: absolute;
      opacity: 0;
      top: calc(60% - 50px);
      width: 100%;
      transition: 0.2s ease-in-out;

      button {
        width: 50px;
        height: 50px;
        right: 25px;
        border-radius: 50px;
        box-shadow: none;
        border: none;
      }
    }
  }
}
