.digitalAcademySection {
  margin-top: 140px;
  margin-bottom: 140px;

  &:hover {
    .sliderNavigation {
      position: absolute;
      opacity: 1;
    }
  }

  .card {
    .cardImg {
      margin-bottom: 24px;

      img {
        width: 100%;
        height: auto;
      }
    }

    .cardDescription {
      h3 {
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        color: #000;
        min-height: 72px;
      }
      p {
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;
      }
    }
  }


  .sliderNavigation {
    position: absolute;
    opacity: 0;
    top: calc(60% - 50px);
    width: 100%;
    transition: 0.2s ease-in-out;

    button {
      width: 50px;
      height: 50px;
      right: 25px;
      border-radius: 50px;
      box-shadow: none;
      border: none;
    }
  }
}

.customSlide {
  max-width: 413px;
}

.sliderNavigation {
  display: flex;
  justify-content: center;
  gap: 15px;
  /* Optional: Adjust the space between buttons */
  position: absolute !important;
  top: 210px !important;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.swiperPrev {
  left: 0px !important;
}

.swiperNext {
  right: 0px !important;
}

@media (max-width: 992px) {
  .customSlide {
    max-width: 260px;
  }

  .digitalAcademySection {
    margin-top: 60px;
    margin-bottom: 60px;

    .card {
      .cardImg {
        margin-bottom: 24px;
        width: 260px;
        height: 338px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .cardDescription {
        h3 {
          font-weight: 600;
          font-size: 16px;
          line-height: 26px;
          color: #000;
          min-height: auto;
          margin-bottom: 10px;
        }
        p {
          font-weight: 400;
          font-size: 12px;
          line-height: 19px;
          letter-spacing: 0%;
        }
      }
    }

    .sliderNavigation {
      position: absolute;
      opacity: 0;
      top: calc(60% - 50px);
      width: 100%;
      transition: 0.2s ease-in-out;

      button {
        width: 50px;
        height: 50px;
        right: 25px;
        border-radius: 50px;
        box-shadow: none;
        border: none;
      }
    }
  }
}