.contactContainer {
    position: fixed;
    bottom: 24px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 111;
    transition: transform 0.4s ease, opacity 0.4s ease;
  
    &.show {
      transform: translateY(0);
      opacity: 1;
    }
  
    &.hide {
      transform: translateY(100px);
      opacity: 0;
    }
  
    .iconWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
  
      .phoneIcon {
        width: 46px;
        height: 46px;
        border-radius: 60px;
        background-color: #000000;
        display: flex;
        align-items: center;
        justify-content: center;
      }
  
      .whatsappIcon {
        width: 46px;
        height: 46px;
        border-radius: 60px;
        background-color: #60D669;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  
    .contactButtons {
      box-shadow: 0px 7px 4px 0px rgba(0, 0, 0, 0.1);
      border: 1px solid #F0F0F0;
      background-color: #FFFFFF;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
      width: 331px;
      height: 72px;
      border-radius: 130px;
  
      .applyButton {
        border: 2px solid #000000;
        background: #E10F33;
        font-weight: 600;
        font-size: 16px;
        line-height: 37px;
        color: #fff;
        border-radius: 100px;
        min-width: 190px;
        height: 56px;
        transition: background 0.3s, color 0.3s;
  
        &:hover {
          background: #fff;
          color: #000000;
        }
      }
    }
  }
  @media (width <=991px) { 
    .contactContainer { 
      bottom: 6px;
      .contactButtons {
         height: auto;
         padding: 6px 8px;
         gap: 8px;
         width: max-content;
         .applyButton { 
          height: 32px;
          line-height: normal;
          min-width: 120px;
          font-size: 12px;
         }
      }
      .iconWrapper { 
        .phoneIcon {
          height: 32px;
          width: 32px;
         }
         .whatsappIcon {
          height: 32px;
          width: 32px;
         }
      }
    }
  }