// components/Comparison.module.scss
.comparisonSection {
  padding-top: 140px;
  padding-bottom: 140px;

  .sectionHeader {
    margin-bottom: 60px;

    h2 {
      font-weight: 700;
      font-style: italic;
      font-size: 48px;
      line-height: 52px;
      color: #201116;
      text-align: center;

      span {
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 52px;
        color: #201116;
      }
    }
  }

  .cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: nowrap;


  .labels {
    margin-top: 158px;
    margin-right: 15px;

    ul {
      display: flex;
      flex-direction: column;
      gap: 34px;

      li {
        font-weight: 700;
        font-style: italic;
        font-size: 18px;
        line-height: normal;
        color: #000000;
        border-bottom: 0.5px solid rgba(0, 0, 0, 0.4);
        min-height: 50px;

        span {
          display: flex;
        }

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }


  .card {
    width: 428px;
    padding: 34px 42px;
    border: 2px solid #000000;
    border-radius: 16px;
    background-color: #fff;

    h3 {
      font-weight: 800;
      font-style: italic;
      font-size: 24px;
      line-height: normal;
      margin-bottom: 18px;
      min-height: 70px;
    }

    hr {
      border-top: 2px solid #000000;
      opacity: 1;
      margin-bottom: 25px;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 36px;

      li {
        display: flex;
        gap: 15px;
        font-weight: 500;
        font-size: 16px;
        line-height: normal;
        color: #000000;
        max-width: 340px;
        min-height: 50px;
      }
    }

    &.highlight {
      h3 {
        color: #fff;
      }

      hr {
        border-top: 2px solid #fff;
      }
    
      background-color: #FF4245;
      box-shadow: 8px 8px 0px 0px #000000;

      ul {
        li {
          color: #fff;
        }
      }
    }
  }

}

}

@media (width <=991px) {
  .comparisonSection { 
    padding-top: 60px;
    padding-bottom: 60px;
    .sectionHeader {
      margin-bottom: 40px;
  
      h2 {
       
        font-size: 24px;
        line-height: normal;
        color: #201116;
        text-align: center;
  
        span {
          font-size: 24px;
          font-style: normal;
          line-height: normal;
          color: #201116;
        }
      }
    }
    .cards::-webkit-scrollbar {
      display: none; /* For Chrome, Safari, and Opera */
    }
    .cards { 
      justify-content: flex-start;
      overflow-x: auto;
      padding-bottom: 10px;
      padding-right: 15px;
      scrollbar-width: none; /* For Firefox */
      -ms-overflow-style: none; /* For Internet Explorer and Edge */
      gap: 10px;
      .labels{
        margin-top: 100px;
        ul {
          gap: 36px;
          li {
            span {
              font-size: 12px;
            }
          }
        }
      }
      .card {
        min-width: 188px;
        padding: 16px;
        &.highlight { 
          box-shadow: none;
          border: solid transparent;
        }
        hr {
          margin-bottom: 18px;
        }
        h3 {
          font-size: 14px;
          margin-bottom: 8px;
          margin-top: 0 !important;
        }
        ul {
          li {
            gap: 7px;
            font-size: 11px;
            span {
              display: flex;
              align-items: flex-start;
              justify-content: flex-start;
              img {
                width: 20px;
              }
            }
          }
         }
      }
    }
  }
}