.mobileMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  z-index: 1000;
  padding: 16px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease-in-out;

  .closeBtn {
    font-size: 0;
    position: fixed;
    top: 45px;
    right: 30px;
  }
}

.slideIn {
  animation: slideIn 0.3s forwards;
}

.slideOut {
  animation: slideOut 0.3s forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

.closeBtn {
  background: none;
  border: none;
  font-size: 2rem;
  align-self: flex-end;
  cursor: pointer;
}

.columnBox {
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin-top: 70px;

  .navbarTags {
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
    min-height: 25px;
    align-items: center;
  }

  .columnGroup {
    border: 0.5px solid #000000;
    padding: 16px;
    border-radius: 10px;

    h3 {
      font-weight: 600;
      font-style: Italic;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 0%;
      border-bottom: 0.5px solid #0000001e;
      padding-bottom: 10px;
      margin-bottom: 14px;
    }

    .navbarDropdownColumn {
      border: 1px solid #fff;
      cursor: pointer;
      min-width: 280px;
      position: relative;
      transition: border-radius 0.3s ease;

      &:last-child {
        &::after {
          display: none;
        }

        .navbarDropdownList {
          border-bottom: none;
        }
      }

      // &::after {
      //     content: '';
      //     width: 1px;
      //     height: 100%;
      //     background-color: #000000;
      //     opacity: 20%;
      //     right: -5px;
      //     top: 0;
      //     position: absolute;
      // }

      &:hover {
        // border: 1px solid #000000;
        border-radius: 12px;

        h4 {
          text-decoration: underline;
          transition: text-decoration 0.3s ease;
        }
      }

      h4 {
        font-weight: 700;
        font-style: italic;
        font-size: 14px;
        line-height: normal;
        letter-spacing: 2%;
        color: #000;
        margin-bottom: 8px;
        min-height: auto;
      }

      .dropdownTag {
        background-color: #fff3d7;
        padding: 4px 8px;
        color: #000000;
        font-weight: 600;
        font-size: 11px;
        line-height: 100%;
        letter-spacing: 2%;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 25px;
        max-width: max-content;
      }

      .navbarTitle {
        font-weight: 500;
        font-size: 12px;
        line-height: normal;
        color: #000000;
        margin-bottom: 10px;
        display: block;
        max-width: 100%;
      }

      .navbarDropdownList {
        margin-top: 24px;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        padding-bottom: 20px;
        margin-bottom: 10px;
        border-bottom: 0.5px solid #0000001e;

        li {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-left: 20px;

          &::after {
            content: "";
            display: inline-block;
            width: 10px;
            height: 8px;
            background-image: url('data:image/svg+xml,%3Csvg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M9.66606 1.37478L4.48446 7.85358L0.414062 4.46118L1.18206 3.53958L4.31166 6.14718L8.73006 0.625977L9.66606 1.37478Z" fill="black"/%3E%3C/svg%3E');
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
          }

          span {
            font-weight: 500;
            font-style: Medium;
            font-size: 12px;
            line-height: normal;
            letter-spacing: 2%;
          }
        }
      }
    }
  }
}
