.header {
  margin-top: 24px;
  margin-bottom: 24px;
  position: relative;
  .logoBlock {
    display: flex;
    gap: 32px;
    align-items: flex-end;

    .coursesDropdown {
      width: 117.80746459960938px;
      height: 41px;
      border-radius: 4px;
      border-width: 1px;
      gap: 10px;
      font-weight: 700;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: 2%;
      cursor: pointer;
      border: 1px solid rgba(0, 0, 0, 1);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .menu {
    display: flex;
    align-items: center;
    gap: 32px;
  position: relative;
    ul {
      display: flex;
      gap: 32px;
      align-items: center;

      li {
        a {
          font-weight: 500;
          font-size: 14px;
          line-height: 100%;
          letter-spacing: 1%;
          color: rgba(0, 0, 0, 1);
        }
      }
    }


    .hamburgerMenu {
      width: 50px;
      height: 50px;
      border-radius: 70px;
      border: 2px solid rgba(0, 0, 0, 1);
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }

  }
}

.dropdownWrapper {
  display: inline-block;
}

.hamburgerMenu {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border: 1px solid #e33c59;
  border-radius: 50%;
  transition: all 0.3s ease;

  &:hover {
    background-color: #ffeef0;
  }
}

.dropdownMenu {
  position: absolute;
  top: 120%; // below the hamburger icon
  right: 0;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  min-width: 15rem;
  padding: 12px 0;
  z-index: 1000;
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.2s ease;
  padding: 1rem 1rem 1rem 1.2rem;

  ul {
    list-style: none;
    display: flex;
    flex-direction: column !important;
    gap: 10px !important;

    li {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      cursor: pointer;
      font-size: 0.87rem;
      font-weight: 500;
      color: #000;
      line-height: 1.5rem;
      opacity: 0.8;
      width: 100%;

      a {
        padding: 4px 0;
      }

      &.loginAction {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;

        a {
          min-width: 80px;
          display: flex;
          align-items: center;
          gap: 4px;
        }
      }
    }
  }
}

.show {
  display: block;
  opacity: 1;
  transform: translateY(0);
}


.hamburgerMenu {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 50%;
  transition: all 0.3s ease;

  &:hover {
    background-color: #ffeef0;
  }
}

.courseDropdown {
  position: relative;
  margin-left: 20px;

  .dropdownToggle {
    cursor: pointer;
    width: 117.80746459960938px;
    height: 41px;
    border-radius: 4px;
    border-width: 1px;
    gap: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 2%;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    &.open {
      background-color: #E10F33;
      border: 1px solid #E10F33;
      color: #fff;
      svg path {
        fill:#fff;
      }
    }
  }

  .arrow {
    transition: transform 0.3s ease;
  }

  .arrow.open {
    transform: rotate(180deg);
  }

  .dropdownMenu {
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    padding: 20px;
    display: flex;
    gap: 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: 999;
    opacity: 1;
    display: flex;
    flex-direction: column;
    min-width: max-content;
  }

  .dropdownColumn {
    display: flex;
    flex-direction: column;

    h5 {
      font-weight: normal;
      font-size: .875rem;
      line-height: 16.94px;
      margin-bottom: 12px;
      color: #333;
    }

    a {

      color: #000000;
      margin-bottom: 5px;
      text-decoration: none;
      font-size: 1.25rem;
      line-height: 24px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .findCourse {
    align-self: flex-end;

    a {
      font-weight: 600;
      font-size: 13px;
      color: #e10f33;
      text-decoration: none;
    }
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .header {
    .menu {
      gap: 16px;

      ul {
        gap: 16px;
      }
    }
  }
}
@media (width <=430px) {
    .courseDropdown {
 .dropdownMenu {
    top: 100%;
    left: 30px !important;
    right: 30px;
    flex-direction: column;
    min-width:80%;
  }
}
}
@media (width <=768px) {
  .courseDropdown {
    position: static;
    margin-left: 20px;

    .dropdownToggle {
      cursor: pointer;
      width: 117.80746459960938px;
      height: 41px;
      border-radius: 4px;
      border-width: 1px;
      gap: 10px;
      font-weight: 700;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: 2%;
      cursor: pointer;
      border: 1px solid rgba(0, 0, 0, 1);
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
    }
    .dropdownMenu {
    top: 100%;
    left: 30px;
    right: 30px;
    flex-direction: column;
    min-width:80%;
  }
    .arrow {
      transition: transform 0.3s ease;
    }

    .arrow.open {
      transform: rotate(180deg);
    }





  }

  .dropdownMenu {
    display: none;
  }

  .show {
    display: block;
  }

  .header {
    .logoBlock {
      align-items: center;
      gap: 24px;

      img {
        width: 127px;
      }
    }

    .hamburgerMenu {
      border: none !important;
    }
  }
}