.header {
  padding-top: 24px;
  padding-bottom: 24px;
  z-index: 99;
  width: 100%;
  box-shadow: none;
  transition: all 1s cubic-bezier(.23, 1, .32, 1);
  background-color: #F5F5F5;

  &.sticky {
    position: sticky;
    top: 0px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    
  }

  .logoBlock {
    display: flex;
    gap: 32px;
    align-items: flex-end;

    .coursesDropdown {
      width: 117.80746459960938px;
      height: 41px;
      border-radius: 4px;
      border-width: 1px;
      gap: 10px;
      font-weight: 700;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: 2%;
      cursor: pointer;
      border: 1px solid rgba(0, 0, 0, 1);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .menu {
    display: flex;
    align-items: center;
    gap: 32px;
    position: relative;
    ul {
      display: flex;
      gap: 32px;
      align-items: center;

      li {
        a {
          font-weight: 500;
          font-size: 14px;
          line-height: 100%;
          letter-spacing: 1%;
          color: rgba(0, 0, 0, 1);
        }
      }
    }

    .hamburgerMenu {
      width: 50px;
      height: 50px;
      border-radius: 70px;
      border: 2px solid rgba(0, 0, 0, 1);
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
    }
  }
}


.navbarDropdownOverlay {
  position: fixed;
  inset: 0;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .6);
  transition: all .75s cubic-bezier(.23, 1, .32, 1);

  &.open {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
  }
}
.navbarQuickOverlay {
  position: fixed;
  inset: 0;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .6);
  transition: all .75s cubic-bezier(.23, 1, .32, 1);

  &.open {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
  }
}
// course for action
.courseDropdown {
  margin-left: 20px;

  .dropdownToggle {
    cursor: pointer;
    width: 117px;
    height: 41px;
    border-radius: 4px;
    border-width: 1px;
    gap: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 2%;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
    
  
    &.open {
      background-color: #fff;
      border: 1px solid #000000;
      color: #000000;
      position: relative;
      z-index: 1111;
      &::after {
        content: "";
        display: inline-block;
        width: 20px;
        height: 15px;
        background-image: url('data:image/svg+xml,%3Csvg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M1.00009 15H19.0001C19.1823 14.9994 19.361 14.9492 19.5168 14.8546C19.6726 14.7601 19.7996 14.6248 19.8843 14.4634C19.9689 14.3021 20.008 14.1206 19.9972 13.9387C19.9864 13.7568 19.9262 13.5813 19.8231 13.431L10.8231 0.430999C10.4501 -0.108001 9.55209 -0.108001 9.17809 0.430999L0.178085 13.431C0.0739103 13.5809 0.0128196 13.7566 0.00145064 13.9388C-0.00991832 14.121 0.0288693 14.3029 0.113599 14.4646C0.198329 14.6263 0.325761 14.7618 0.48205 14.8561C0.638338 14.9505 0.817505 15.0003 1.00009 15Z" fill="%23F4F4F4"/%3E%3C/svg%3E');
        background-size: contain;
        background-repeat: no-repeat;
        transition: transform 0.3s ease;
        position: absolute;
        bottom: -26px;
      }
    }
  }

  .arrow {
    transition: transform 0.3s ease;
  }

  .arrow.open {
    transform: rotate(180deg);
  }

  .dropdownContainer {
    position: absolute;
    top: 140px;
    left: 50%;
    z-index: 1000;
    width: 100%;
    max-width: 1280px;
    height: auto;
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, 0%);
    transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
    translate: 0 -40px;
    &.open {
      translate: 0 0;
      transition: all 1s cubic-bezier(.23, 1, .32, 1);
      visibility: visible;
      opacity: 1;
      pointer-events: all;
    }

    .dropdownContainerHeader {
      background: #F4F4F4;
      padding: 18px;

      h3 {
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 2%;
        color: #000000;
        text-align: center;
      }
    }

    .dropdownColumnGroup {
      padding: 42px 51px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;

      .navbarDropdownColumn {
        padding: 24px;
        border: 1px solid #fff;
        cursor: pointer;
        &:hover {
          border: 1px solid #000000;
          border-radius: 12px;
        }

        h4 {
          font-weight: 700;
          font-style: italic;
          font-size: 20px;
          line-height: normal;
          letter-spacing: 2%;
          color: #000;
          margin-bottom: 4px;
        }

        .dropdownTag {
          background-color: #FFF3D7;
          padding: 4px 8px;
          color: #000000;
          font-weight: 600;
          font-size: 11px;
          line-height: 100%;
          letter-spacing: 2%;
        }

        .navbarDropdownList {
          margin-top: 18px;

          .navbarTitle {
            font-weight: 600;
            font-size: 14px;
            line-height: normal;
            color: #000000;
            margin-bottom: 18px;
            display: block;
          }

          ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            gap: 8px;

            li {
              position: relative;
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding-left: 20px;

              a {
                font-weight: 500;
                font-size: 12px;
                line-height: 100%;
                color: #000000;
              }

              &::after {
                content: "";
                display: inline-block;
                width: 10px;
                height: 8px;
                background-image: url('data:image/svg+xml,%3Csvg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M9.66606 1.37478L4.48446 7.85358L0.414062 4.46118L1.18206 3.53958L4.31166 6.14718L8.73006 0.625977L9.66606 1.37478Z" fill="black"/%3E%3C/svg%3E');
                background-size: contain;
                background-repeat: no-repeat;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
              }
            }
          }
        }
      }
    }



  }
}

.dropdownMenu {
  position: absolute;
  top: 70px;
  right: 0;
  z-index: 1000;
  width: 100%;
  max-width: max-content;
  height: auto;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
  translate: 0 -40px;
  &.open {
    translate: 0 0;
    transition: all 1s cubic-bezier(.23, 1, .32, 1);
    visibility: visible;
    opacity: 1;
    pointer-events: all;
  }
}

.dropdownWrapper {
  z-index: 11;
}

@media (max-width: 1024px) {
  .courseDropdown {
    .dropdownContainer {
      
      .dropdownColumnGroup {
        padding: 22px 21px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        height: 70vh;
      overflow-x: auto;
        .navbarDropdownColumn {
          padding: 24px;
          &.hover {
            border: 1px solid #000000;
            border-radius: 12px;
          }
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .header {
    .menu {
      gap: 13px;

      ul {
        gap: 16px;
      }
    }
  }
}

@media (width <=768px) {
  .show {
    display: block;
  }

  .header {
    .logoBlock {
      align-items: center;
      gap: 12px;

      img {
        width: 127px;
      }
    }

    .hamburgerMenu {
      border: none !important;
    }
  }
}
@media (width <=1160px) {
.dropdownMenu {
  left: auto;
  top: 90px;
  transform: translate(0%, 0%);
  right: 20px;
  display: flex;
          justify-content: flex-end;
          align-items: center;
}
.menu { 
  position: static !important;
}
}
