.testimonialSection {
    text-align: center;
    padding: 140px 0 100px;
  
    h2 {
      font-size: 1.5rem;
      margin-bottom: 30px;
    }
  }
  
  .marquee {
    overflow: hidden;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
  }
  
  .marqueeGroup {
    display: flex;
    width: max-content;
    animation: scroll-left 35s linear infinite;
  }
  
  .reverse .marqueeGroup {
    animation: scroll-right 35s linear infinite;
  }
  
  .avatar {
    flex-shrink: 0;
    width: 80px;
    height: 80px;
    margin: 0 12px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
  
  /* Animations */
  @keyframes scroll-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-30%);
    }
  }
  
  @keyframes scroll-right {
    0% {
      transform: translateX(-30%);
    }
    100% {
      transform: translateX(0);
    }
  }
  @media (width <=1260px) {
    .testimonialSection {
      padding: 60px 0 30px;
     }
   }                                                                                                                                                                                                                            