

.highlight {
  margin-top: 140px;
  .highlightBox {
    background: rgba(255, 255, 255, 1);
    padding: 80px 80px 100px;
    border-radius: 24px;
  }
}

@media (width <=991px) {
  .highlight {
  .highlightBox {
    padding: 24px 16px 60px;
    border-radius: 24px;
  }}
}