.footerSection {
  background-color: #1C1D21;
  padding-top: 80px;

  .footerTop {
    margin-bottom: 30px;

    .accredited {
      margin-bottom: 62px;

      h6 {
        margin-bottom: 11px;
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 5%;
        color: #fff;
      }

      .accreditedImg {
        display: flex;
        gap: 30px;
      }
    }

    .footerContact {
      h6 {
        margin-bottom: 20px;
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 5%;
        color: #fff;
      }

      .footerContactLink {
        display: flex;
        flex-direction: column;

        a {
          font-weight: 400;
          font-size: 14px;
          line-height: 24px;
          letter-spacing: 2%;
          font-family: var(--font-inter);
          color: #f3f3f3;
          opacity: 80%;
        }
      }
    }

    .quickLinkRow {
      display: flex;
      gap: 28px;
      flex-direction: column;
    }

    .quickLink {
      h6 {
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 5%;
        color: #ffffff;
        margin-bottom: 20px;
      }

      ul {
        li {
          padding-bottom: 5px;
          max-width: 356px;

          a {
            color: #f3f3f3;
            font-size: 14px;
            line-height: 32px;
            opacity: 80%;
            font-family: var(--font-inter);
            font-weight: 400;
          }

          :last-child {
            padding-bottom: 0;
          }
        }
      }
    }


  }

  .footerMarketingCourses {
    border-top: 1px solid rgba(243, 243, 243, 0.2);
    padding: 40px 0;

    h6 {
      font-weight: 400;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 5%;
      color: #ffffff;
      margin-bottom: 20px;
    }

    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 32px;
      letter-spacing: 2%;
      color: #F3F3F3;
      opacity: 60%;
      font-family: var(--font-inter);
      margin: 0;
    }
  }

  .footerBottom {
    border-top: 1px solid rgba(243, 243, 243, 0.2);
    padding: 40px 0;

    .footerCopyright {
      display: flex;
      gap: 60px;
      flex-wrap: wrap;
    }

    .footerCopyrightLink {
      display: flex;
      gap: 40px;

      a {
        color: #F3F3F3;
        opacity: 60%;
      }
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 0%;
      color: #F3F3F3;
      opacity: 60%;
      font-family: var(--font-inter);
    }

    .footerLink {
      gap: 47px;

      a {
        color: #F3F3F3;
        opacity: 60%;
      }
    }
  }

  // .signUp {
  //   max-width: 320px;

  //   button {
  //     border: none;
  //     height: 50px;
  //   }

  //   input:not([type=checkbox]):not([type=radio]) {
  //     border: solid 1px #ffffff !important;
  //   }

  //   p {
  //     color: #f3f3f3;
  //     font-size: 0.87rem;
  //     opacity: 0.6;
  //     margin-bottom: 15px;
  //   }
  // }

}
@media (width <=1092px) { 
  .footerSection {
    .footerBottom {
      .footerLink {
        gap: 30px;
      }
      .footerCopyright {
        gap: 20px;
      }
      p {
        line-height: normal;
      }
    }
  }
}

@media (width <=992px) {
  .footerSection {
    padding-top: 40px;

    .footerTop {
      .row {
        --bs-gutter-y: 25px;
      }

      .accredited {
        margin-bottom: 25px;
      }

      .quickLinkRow {
        display: flex;
        gap: 20px;
        flex-direction: column;
        margin-bottom: 0;
      }

      .quickrow {
        display: flex;
        gap: 20px;
      }


      .quickLink {
        h6 {
          margin-bottom: 10px;
        }

        ul {
          li {
            padding-bottom: 0px;
            max-width: 356px;

            a {
              color: #f3f3f3;
              font-size: 14px;
              line-height: 28px;
              opacity: 80%;
              font-family: var(--font-inter);
              font-weight: 400;
            }

            :last-child {
              padding-bottom: 0;
            }
          }
        }
      }

    }


    .footerMarketingCourses {
      padding: 30px 0;

      h6 {
        font-size: 14px;
        color: #ffffff;
        margin-bottom: 10px;
      }

      p {
        font-size: 12px;
        line-height: 24px;
        color: #F3F3F3;
      }
    }

   

    .footerBottom {
      padding: 30px 0;
      
      p {
        font-weight: 400;
        font-size: 12px;
        line-height: normal;
      }

      .row {
        gap: 20px;
        flex-wrap: wrap;
        flex-direction: column-reverse;
      }
      .footerCopyright {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        flex-direction: column-reverse;
      }
  
      .footerCopyrightLink {
        display: flex;
        gap: 20px;
  
        a {
          color: #F3F3F3;
          opacity: 60%;
          font-size: 14px;
        }
      }
  
      p {
        font-size: 14px;
        color: #F3F3F3;
      }
  
      .footerLink {
        gap: 17px;
  
        a {
          color: #F3F3F3;
          opacity: 60%;
          font-size: 14px;
        }
      }
    }

  }
}