.footerSection {
  background-color: #000;
  padding-top: 80px;

  .footerTop {
    margin-bottom: 30px;

    .quickLink {
      h6 {
        font-size: 1.25rem;
        opacity: 0.8;
        padding-bottom: 0.25rem;
        margin-bottom: 8px;
        color: #ffffff;
      }

      ul {
        li {
          padding-bottom: 5px;
          max-width: 356px;

          a {
            color: #f3f3f3;
            font-size: 14px;
            opacity: 0.6;
          }

          :last-child {
            padding-bottom: 0;
          }
        }
      }
    }

    .accredited {
      margin-top: 40px;

      h6 {
        font-size: 1.25rem;
        opacity: 0.8;
        padding-bottom: 0.25rem;
        margin-bottom: 12px;
        color: #ffffff;
      }
    }

  }

  .footerBottom {
    border-top: 0.01rem solid rgba(243, 243, 243, 0.1);
    padding: 30px 0;

    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 100%;
      letter-spacing: 0%;
      color: #F3F3F3;
      opacity: 80%;
    }

    .footerLink {
      gap: 47px;

      a {
        color: rgba(243, 243, 243, 0.4);
      }
    }
  }

  .signUp {
    max-width: 320px;

    button {
      border: none;
      height: 50px;
    }

    input:not([type=checkbox]):not([type=radio]) {
      border: solid 1px #ffffff !important;
    }

    p {
      color: #f3f3f3;
      font-size: 0.87rem;
      opacity: 0.6;
      margin-bottom: 15px;
    }
  }

  .followUs {
    margin-top: 20px;
    margin-bottom: 20px;

    h6 {
      font-size: 1.25rem;
      opacity: 0.8;
      padding-bottom: 0.25rem;
      margin-bottom: 8px;
      color: #ffffff;
      font-weight: 500;
    }
  }

}
.footerLogo {
  margin-bottom: 30px;
}

@media (width <=992px) {
  .footerSection {
    padding-top: 40px;

    .footerTop {
      .row {
        --bs-gutter-y: 40px;
      }
    }

    .footerLogo {
      .quickLink {
        h6 {
          font-size: 1.25rem;
          opacity: 0.8;
          padding-bottom: 0.25rem;
          margin-bottom: 8px;
          color: #ffffff;
        }

        ul {
          li {
            padding-bottom: 5px;
            max-width: 356px;

            a {

              font-weight: 400;
              font-size: 14px;
              line-height: 31px;
              letter-spacing: 0%;
              color: #F3F3F3 !important;
              opacity: 60%;
            }

            :last-child {
              padding-bottom: 0;
            }
          }
        }
      }

      margin-bottom: 30px;

      img {
        min-width: 130px;

      }
    }

    .footerBottom {
      text-align: left;

      p {
        font-weight: 400;
        font-size: 12px;
        line-height: normal;
      }

      .row {
        flex-direction: column;
        gap: 20px;
      }

      .footerLink {
        justify-content: flex-start;
      }
    }
  }
}