.certificationsInner {
  h2 {
    font-weight: 700;
    font-style: italic;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0%;
    color: rgba(0, 0, 0, 1);
    max-width: 705px;
    margin-bottom: 24px;

    span {
      font-weight: 400;
      font-size: 32px;
      line-height: 60px;
      letter-spacing: 0%;
      color: rgba(0, 0, 0, 1);
    }
  }

  .certDataList {
    display: flex;
    gap: 10px;
    margin-bottom: 56px;

    span {
      border: 1px solid rgba(0, 0, 0, 1);
      height: 40px;
      border-radius: 50px;
      min-width: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      font-size: 14px;
      line-height: 37px;
      letter-spacing: 2%;
      color: rgba(32, 17, 22, 1);
      cursor: pointer;

      &.active {
        border: 2px solid rgba(255, 0, 0, 1);
        font-weight: 700;
        font-style: italic;
        color: rgba(255, 0, 0, 1);

      }
    }
  }

  .certificatePreview {
    min-height: 500px;
    max-width: 840px;
    margin-bottom: 80px;

    img {
      width: 100%;
      border: solid 1px #000;
    }

  }

  .btnAction {
    display: flex;
    justify-content: center;
    width: 100%;

    a,
    button {
      box-shadow: none;
      border: 2px solid rgba(0, 0, 0, 1);
      padding: 13px 32px;
      font-weight: 500;
      font-size: 16px;
      line-height: 25px;
      letter-spacing: 0%;
      text-align: center;
      display: flex;
      gap: 10px;

      &:hover {
        color: rgba(0, 0, 0, 1);

        svg path {
          fill: rgba(0, 0, 0, 1);
          stroke: rgba(0, 0, 0, 1);
        }
      }
    }
  }
}

@media (width <=992px) {

  .certificationsInner {
    h2 {
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      color: rgba(0, 0, 0, 1);
      display: flex;
      flex-direction: column;
      margin-bottom: 24px;

      span {
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        font-style: normal;
      }
    }

    .certDataList {
      display: flex;
      gap: 10px;
      margin-bottom: 40px;
      overflow-y: auto;
      scrollbar-width: none;
      /* For Firefox */
      -ms-overflow-style: none;
      /* For Internet Explorer and Edge */

      &::-webkit-scrollbar {
        display: none;
        /* For Chrome, Safari, and Opera */
      }

      span {
        border: 1px solid rgba(0, 0, 0, 1);
        height: 40px;
        border-radius: 50px;
        min-width: 60px;
        padding-left: 12px;
        padding-right: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        font-size: 12px;
        line-height: 37px;
        letter-spacing: 2%;
        color: rgba(32, 17, 22, 1);
        cursor: pointer;

        &.active {
          border: 2px solid rgba(255, 0, 0, 1);
          font-weight: 700;
          font-style: italic;
          color: rgba(255, 0, 0, 1);
        }
      }
    }

    .certificatePreview {
      min-height: auto;
      max-width: 840px;
      margin-bottom: 40px;

      img {
        width: 100%;
        border: solid 1px #000;
      }

    }

    .btnAction {
      display: flex;
      justify-content: center;
      width: 100%;

      a,
      button {
        box-shadow: none;
        border: 2px solid rgba(0, 0, 0, 1);
        padding: 10px 32px;
        font-weight: 500;
        font-size: 14px;
        line-height: 25px;
        letter-spacing: 0%;
        text-align: center;
        display: flex;
        gap: 10px;

        &:hover {
          color: rgba(0, 0, 0, 1);

          svg path {
            fill: rgba(0, 0, 0, 1);
            stroke: rgba(0, 0, 0, 1);
          }
        }
      }
    }
  }

}