

.brandSection {
  margin: 140px 0 auto;
}

.brandSection h2 {
  font-weight: 700;
  font-style: italic;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0%;
  max-width: 573px;
  text-align: left;
  margin-bottom: 40px;
}

.gridWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  row-gap: 10px;
  column-gap: 60px;

  @media (min-width: 576px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (min-width: 992px) {
    grid-template-columns: repeat(5, 1fr);
  }
}

.gridItem {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
  }
}


.brandsSection {
  margin-top: 140PX;

  h2 {
    font-family: Poppins;
    font-weight: 700;
    font-style: italic;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0%;
    max-width: 573PX;
    text-align: left;

  }



  // 2.4 columns = 100 / 5 = 20%
  .col-lg-2-4 {
    @media (min-width: 992px) {
      flex: 0 0 auto;
      width: 20%;
    }
  }
}

@media (width <=991px) {
  .gridWrapper {
    column-gap: 5px;
    row-gap: 5px;
  }
  .brandSection {
    margin: 80px 0 auto;

    h2 {
      font-weight: 700;
      font-style: italic;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 0%;
      text-align: center;
      margin-bottom: 26px;
    }
  }
}



.slider {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 30px 0;
}

.slideTrack {
  display: flex;
  width: calc(210px * 20); // adjust based on image width * (number of logos * 2)
}

.slide {
  width: 210px;
  flex-shrink: 0;
  padding: 10px;
}

.rightToLeft {
  animation: scrollRightToLeft 30s linear infinite;
}

.leftToRight {
  animation: scrollLeftToRight 30s linear infinite;
}

@keyframes scrollRightToLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scrollLeftToRight {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
