

.brandSection {
  margin: 140px 0 auto;
}

.brandSection h2 {
  font-weight: 700;
  font-style: italic;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0%;
  max-width: 573px;
  text-align: center;
  margin-bottom: 40px;
}

.brandsSection {
  margin-top: 140PX;

  h2 {
    font-family: Poppins;
    font-weight: 700;
    font-style: italic;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0%;
    max-width: 573PX;
    text-align: center;

  }
}

.slider {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 0 0 30px;
}

.slideTrack {
  display: flex;
  width: calc(210px * 20); // adjust based on image width * (number of logos * 2)
}

.slide {
  width: 210px;
  flex-shrink: 0;
  padding: 10px;
}

.rightToLeft {
  animation: scrollRightToLeft 30s linear infinite;
}

.leftToRight {
  animation: scrollLeftToRight 30s linear infinite;
}

@keyframes scrollRightToLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scrollLeftToRight {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}


@media (width <=991px) {
  
  .brandSection {
    margin: 60px 0 auto;

    h2 {
      font-weight: 700;
      font-style: italic;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 0%;
      text-align: center;
      margin-bottom: 26px;
    }


    .slider {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 10px 0;
}

.slideTrack {
  display: flex;
  width: calc(110px * 20); // adjust based on image width * (number of logos * 2)
}

.slide {
  width: 110px;
  flex-shrink: 0;
  padding: 2px;
}
  }
}



