.contentSection {
  padding-top: 100px;

  p {
    font-weight: 400;
    font-size: 32px;
    line-height: 52px;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto 15px;
    &:first-child {
      margin-bottom: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
    span {
      font-weight: 600;
    }
  }
}

@media (width <=991px) {
  .contentSection {
    padding-top:60px;
    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 23px;
      margin: 0 auto;
    }
  }
}