.contentSection {
  padding-top: 100px;


  .contentTitle {
    font-weight: 500;
    font-size: 40px;
    line-height: normal;
    max-width: 780px;
    margin-bottom: 30px;
  }

  p {
    font-weight: 400;
    font-size: 20px;
    line-height: normal;
    text-align: center;
    max-width: 780px;
    margin: 0 auto 24px;


    &:last-child {
      margin-bottom: 0;
      max-width: 726px;
    }

    span {
      font-weight: 600;
    }
  }
}

@media (width <=991px) {
  .contentSection {
    padding-top: 60px;

    .contentTitle {
      font-weight: 500;
      font-size: 22px;
      margin-bottom: 16px;
    }

    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 23px;
      margin: 0 auto 16px;
    }
  }
}