.teamSpeaksSlider {
    padding-bottom: 140px;

    .headerSection {
        margin-bottom: 60px;

        h2 {
            font-weight: 700;
            font-style: italic;
            font-size: 48px;
            line-height: 60px;
            color: #201116;
        }
    }

    .testimonial {
        display: flex;
        gap: 60px;
        align-items: stretch;
    }

    .imageWrapper {
        width: 408px;
        height: 407px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        background-color: #FFEC5E;

        img {
            height: auto;
        }
    }

    .content {
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        h3 {
            font-weight: 500;
            font-size: 40px;
            line-height: normal;
            color: #201116;
            margin-bottom: 58px;
        }

        p {
            font-weight: 300;
            font-size: 20px;
            line-height: 33px;
            color: #000000;

            strong {
                font-weight: 600;
            }
        }
    }

    .sliderWrapper {
        width: 100%;
        position: relative;

        &:hover {
            .sliderNavigation {
                position: absolute;
                opacity: 1;
            }
        }

        .sliderNavigation {
            position: absolute;
            opacity: 1;
            width: 100%;
            transition: 0.2s ease-in-out;

            button {
                width: 50px;
                height: 50px;
                right: 25px;
                border-radius: 50px;
                box-shadow: none;
                border: none;
            }
        }
    }

    .sliderNavigation {
        display: flex;
        justify-content: flex-end;
        gap: 15px;
        /* Optional: Adjust the space between buttons */
        position: absolute !important;
        bottom: 50px;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
    }

    .swiperPrev {
        right: 80px !important;
        left: auto !important;
    }

    .swiperNext {
        right: 0px !important;
    }


    .testimonialName {
        font-weight: 500;
        font-size: 20px;
        line-height: 100%;
        color: #201116;
        margin-bottom: 4px;
    }

    .testimonialRole {
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        color: #201116;
    }

    .fontSlab {
        font-weight: 400;
        font-size: 160px;
        line-height: 100%;
    }

    .testimonialMessage {
        .icon {
            width: 62px;
            position: relative;
            height: 24px;
            display: inline-flex;
            align-items: center;
            justify-content: center;

            img {
                width: 50px;
                height: 38px;
                position: absolute;
            }
        }
    }

}

@media (width <=991px) {
    .teamSpeaksSlider {
        padding-bottom: 60px;

        .headerSection {
            margin-bottom: 24px;

            h2 {
                font-size: 24px;
                line-height: 32px;
                text-align: center;
            }
        }

        .testimonial {
            flex-direction: column;
            gap: 24px;
            .imageWrapper {
                width: 240px;
                height: 240px;
                margin: 0 auto;
                img {
                    width: 100%;
                }
            }
        }

        .content {
    
            h3 {
                font-size: 24px;
                color: #201116;
                margin-bottom: 28px;
                text-align: center;
            }
    
            p {
                font-weight: 300;
                font-size: 14px;
                line-height: 28px;
                color: #000000;
                margin-bottom: 40px;
                strong {
                    font-weight: 600;
                }
            }
        }

        .testimonialMessage {
            display: flex;
            flex-direction: column;
            gap: 20px;
            .icon {
                display: inline-flex;
            }
        }

        .sliderNavigation {
            bottom: 0;
        }
    }

    .sliderWrapper {
     

       

        .sliderNavigation {
            position: absolute;
            opacity: 1;
            width: 100%;
            transition: 0.2s ease-in-out;

            button {
                width: 20px !important;
                height: 20px !important;
                border-radius: 50px;
                box-shadow: none;
                border: none;
            }
        }
    }
}