.topperOfMonthSlider {
    margin-bottom: 140px;
}

.sliderWrapper {
    margin-top: 20px;
    border-radius: 20px;
    overflow: hidden;
    width: 100%;

    img {
        &.sliderImage {
            border-radius: 20px;
            width: 100%;
            object-fit: cover;
            object-position: center center;
        }
    }
}

.monthBelt {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    img {
        width: 100%;
    }
}

.sliderWrapper {
    position: relative;
    overflow: hidden;
    
    &:hover {
        .sliderNavigation {
            position: absolute;
            opacity: 1;
        }
    }

    .sliderNavigation {
        position: absolute;
        top: 249px;
        width: 100%;
        transition: 0.2s ease-in-out;
        opacity: 0;
        button {
            width: 50px;
            height: 50px;
            right: 25px;
            border-radius: 50px;
            box-shadow: none;
            border: none;
        }
    }
}

.imageSlider {
    position: relative;
    overflow: hidden;

    .viewResume {
        position: absolute;
        bottom: 33px;
        right: 45px;

        &::after {
            content: "";
            width: 339px;
            height: 273px;
            position: absolute;
            bottom: -40px;
            right: -46px;
            background: linear-gradient(334.64deg, #000000 -2.08%, rgba(0, 0, 0, 0) 64.34%);
        }

        a {
            font-weight: 600;
            font-size: 14px;
            line-height: 100%;
            color: #FFFFFF;
            display: flex;
            align-items: center;
            gap: 12px;
            z-index: 11;
            position: relative;
        }

        i {
            min-width: 40px;
            min-height: 40px;
            background-color: #FFFFFF;
            display: flex;
            align-items: center;
            max-width: fit-content;
            justify-content: center;
            border-radius: 50px;
        }
    }

    .slideContent {
        position: absolute;
        bottom: 30%;
        right: 10%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        z-index: 11;

        .name {
            background: #FFEE6E;
            box-shadow: 6px 6px 0px 0px #000000;
            font-weight: 800;
            font-style: italic;
            font-size: 24px;
            line-height: 100%;
            padding: 10px 23px;
            text-transform: uppercase;
            min-height: 56px;
            position: relative;
            z-index: 0;
            border: 1px solid #000000;
        }

        .course {
            font-weight: 700;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 3%;
            text-transform: uppercase;
            position: absolute;
            z-index: 111;
            background-color: #fff;
            border: 2px solid #000000;
            padding: 5px 10px;
            min-width: max-content;
            bottom: -28px;
            display: flex;
            height: 35px;
            align-items: center;
        }
    }
}

.dektop {
    display: block;
}

.mobile {
    display: none;
}

@media (width <=991px) {
    .dektop {
        display: none;
    }

    .mobile {
        display: block;
        img {
            height: auto;
        }
    }
    .topperOfMonthSlider {
        margin-bottom: 60px;
    }
    .sliderWrapper {
        margin-bottom: 60px;
        .sliderNavigation {
             top: 200px;
        }

        img {
            border-radius: 20px;
            width: 100%;

            &.sliderImage {
                height: 380px;
            }

        }
    }

    .imageSlider {
        position: relative;

        .viewResume {
            position: absolute;
            bottom: 33px;
            right: 0;
            width: 100%;
            display: flex;
            justify-content: center;

            a {
                font-size: 12px;
                gap: 12px;
            }

            i {
                max-width: 28px !important;
                max-height: 28px;
                min-width: 28px;
                min-height: 28px;
                background-color: #FFFFFF;
                display: flex;
                align-items: center;
                max-width: fit-content;
                justify-content: center;
                border-radius: 50px;
            }
        }

        .slideContent {
            position: absolute;
            bottom: 30%;
            right: 10%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-end;

            .name {
                font-size: 18px;
                min-height: 47px;
                display: flex;
                align-items: center;
            }

            .course {
                font-size: 14px;
                border: 2px solid #000000;
            }
        }
    }
}