.accordionSection {
    padding-top: 140px;

    section {
        h2 {
            text-align: left !important;
        }

        p {
            text-align: left !important;
            margin: 0;
        }
    }

}

.meettheorganizers {
    padding-bottom: 140px;
     .row {
            row-gap: 40px;
        }
}

@media (width <=992px) {
    .accordionSection {
        padding-bottom: 0;
         padding-top: 60px;
    }

    .meettheorganizers {
        padding-bottom: 60px;
        .row {
            row-gap: 40px;
        }
    }

}