.leadershipSection {
    margin-top: 80px;
    margin-bottom: 80px;

    .courseListCard {
        .cardContent {
            h3 {
                font-size: 24px;
                margin-bottom: 24px;
                min-height: 40px;
            }

            ul {
                margin-top: 24px;
                display: flex;
                flex-direction: column;
                gap: 8px;

                li {
                    font-weight: 500;
                    font-style: Medium;
                    font-size: 14px;
                    line-height: 18px;
                    letter-spacing: 1%;
                }
            }
        }

        .btnCourse {
            margin-top: 40px;
            font-weight: 600;
            font-size: 16px;
            line-height: 37px;
            letter-spacing: 2%;
            color: #201116;
            min-width: 200px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50px;
            background-color: #fff;
            border: solid 1.5px #201116;

            &:hover {
                background-color: #E10F33;
                color: #fff;
                border: solid 1.5px #E10F33;
            }
        }
    }
}

.row {
    --bs-gutter-y: 1.5rem;
}

.certificationSection {
    margin-top: 132px;
    margin-bottom: 162px;
}

.postCertification {
     margin-top: 132px;
}

.sectionHeader {
    margin-bottom: 40px;

    h2 {
        font-weight: 600;
        font-style: Italic;
        font-size: 32px;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: center;
        text-align: center;
        margin-bottom: 24px;
    }

    p {
        text-align: center;
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        line-height: 120%;
        letter-spacing: 0%;

    }
}

.courseListCard {
    background: #FFFFFF;
    border-radius: 20px;
    overflow: hidden;
    height: 100%;

    .cardContent {
        padding: 30px;
        .tagsRow {
            display: flex;
            gap: 8px;
        }
        .tags {
            background: #FFF3D7;
            padding: 4px 8px;
            font-weight: 600;
            font-size: 12px;
            line-height: 100%;
            letter-spacing: 2%;
        }

        h3 {
            font-weight: 500;
            font-size: 20px;
            line-height: 100%;
            letter-spacing: 0%;
            margin-bottom: 10px;
            min-height: 40px;
        }

        ul {
            margin-top: 24px;
            display: flex;
            flex-direction: column;
            gap: 8px;

            li {
                font-weight: 500;
                font-style: Medium;
                font-size: 14px;
                line-height: 18px;
                letter-spacing: 1%;
                display: flex;
                align-items: center;
                gap: 8px;
            }
        }
    }
}