.trendReportsSlider {
    background: #000000;
    padding: 100px 0;

    .sectionHeader {
        margin-bottom: 60px;

        h2 {
            font-weight: 700;
            font-style: italic;
            font-size: 48px;
            line-height: 63px;
            letter-spacing: 0%;
            text-align: center;
            color: #FFFFFF;
            max-width: 721px;
            margin: 0 auto;
        }
    }

    .brandLogos {
        margin: 0 auto 50px;
        display: flex;
        justify-content: center;
        gap: 16px;

        .logoBtn {
            width: 90px;
            height: 90px;
            border-radius: 100%;
            background-color: transparent;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;

            &.active {
                border: 1px solid #FFFFFF;
            }

            span {
                width: 76px;
                height: 76px;
                border-radius: 100%;
                background-color: #fff;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 8px;

                img {
                    width: 90%;
                    height: auto;
                }
            }
        }
    }

    .more {
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        height: 90px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.controls {
    margin-top: 60px;
    max-width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px auto 0;
    gap: 24px;

    button {
        border: 2px solid #FFFFFF;
        width: 28px;
        height: 28px;
        background-color: transparent;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.customSlide {
    max-width: 450px;
}

@media (width <=992px) {
    .customSlide {
        max-width: 319px;
    }
    .trendReportsSlider { 
        padding: 60px 0;
        .sectionHeader {
            margin-bottom: 24px;
            h2 {
                font-weight: 700;
                font-style: italic;
                font-size: 24px;
                line-height: normal;
                letter-spacing: 0%;
                text-align: center;
                color: #FFFFFF;
                max-width: 721px;
                margin: 0 auto;
            }
        }
        .brandLogos {
            display: none;
         }
         .controls {
            margin: 24px auto 0;
            button {
                display: none;
            }
          }
    }
 }