.visionMissionSection {
    padding-top: 140px;
    padding-bottom: 140px;
    position: relative;

    .sectionBg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            position: absolute;
        }
    }

    .cardsContainer {
        display: flex;
        gap: 40px;
        position: relative;
        z-index: 1;
        .card {
            max-width: 439px;
            background-color: #FFFFFF;
            padding: 48px;

            h2 {
                font-weight: 700;
                font-style: italic;
                font-size: 60px;
                line-height: 61px;
                display: flex;
                flex-direction: column;
                margin-bottom: 192px;
            }

            p {
                font-weight: 400;
                font-size: 20px;
                line-height: 31px;
                letter-spacing: 0%;
                color: #000;
            }
        }
    }
    .counterBox {
        position: relative;
        z-index: 11;
        padding-bottom: 140px;
    }
}