

.teamSection {
  .sectionHeader {
    h2 {
      font-weight: 700;
      font-style: italic;
      font-size: 52px;
      line-height: 49px;
      letter-spacing: 0%;
      text-align: center;
      max-width: 545px;
      margin: 0 auto 60px;
    }
  }

  .tabs {
    background: rgba(13, 13, 13, 1);
    padding: 20px 30px;
    border-radius: 100px;
    max-width: max-content;
    margin: 0 auto 60px;

    display: flex;
    gap: 10px;
    flex-wrap: wrap;

    button {
      font-weight: 600;
      font-style: italic;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 0%;
      color: rgba(245, 245, 245, 1);
      border: none;
      background-color: transparent;
      padding: 10px 24px;
      border-radius: 100px;

      &.active {
        background: rgba(225, 15, 51, 1);
        border: 1px solid rgba(254, 216, 90, 1);
        box-shadow: 2px 2px 0px 0px rgba(254, 216, 90, 1);
      }
    }
  }

  .memberCard {
    border: 2px solid rgba(0, 0, 0, 1);
    border-radius: 20px;
    overflow: hidden;
    background: rgba(255, 255, 255, 1);
    height: 477px;

    .imageWrapper {
      height: 315px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top left;
      }
    }

    .cardContent {
      padding: 24px 32px;
      background: rgba(255, 255, 255, 1);

      .memberContent {
        display: flex;
        gap: 20px;
        justify-content: space-between;

        h5 {
          font-weight: 700;
          font-style: italic;
          font-size: 32px;
          line-height: 27px;
          letter-spacing: 0%;
          text-transform: uppercase;
          margin-bottom: 10px;
        }

        .companyLogo {
          img {
            max-height: 35px;
            width: auto;
            max-width: fit-content;
          }
        }
      }

      .memberInfo {
        label {
          font-weight: 500;
          font-size: 12px;
          line-height: 100%;
          letter-spacing: 0%;
          color: rgba(0, 0, 0, 1);
          margin-bottom: 15px;
        }

        p {
          font-weight: 400;
          font-size: 12px;
          line-height: 100%;
          letter-spacing: 0%;
          color: rgba(0, 0, 0, 1);
        }
      }
    }
  }

  .memberscrollbar {
    margin-top: 40px !important;
  }
}

.swiperOuter {
  width: 100vw; // Full screen width
  margin-left: auto; // Align left to container
}

.sliderWrapper {
  width: 100%;
  position: relative;
   &:hover {
    .sliderNavigation {
      position: absolute;
      opacity: 1;
    }
  }
 .sliderNavigation {
    position: absolute;
    opacity: 0;
    top: calc(60% - 50px);
    width: 100%;
    transition: 0.2s ease-in-out;

    button {
      width: 50px;
      height: 50px;
      right: 25px;
      border-radius: 50px;
      box-shadow: none;
      border: none;
    }
  }
}
.teamnoavailable {
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper {
  width: 100%;
}

.newCard {
  border: 2px solid rgba(0, 0, 0, 1);
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  height: 477px;

  .cardContent {
    position: absolute;
    bottom: 37px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;

    h5 {
      font-weight: 700;
      font-style: italic;
      font-size: 40px;
      line-height: 32px;
      text-transform: uppercase;
      text-align: left;
      max-width: 230px;
      margin: 0 auto;
      -webkit-text-stroke: 1px black; /* text border */
        text-shadow: 2px 2px 0px #000000; /* sharp shadow */
    }
  }

  .imageWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .icon {
    position: absolute;
    top: 20px;
    width: 60px;
    height: 60px;
    opacity: 0.9;

    &.iconLeft {
       Left: 20%;
    bottom: 169px;
    top: initial;
    }

    &.iconRight {
       right: 20%;
    bottom: 169px;
    top: initial;
    }
  }

  .newName {
    font-size: 1.25rem;
    font-weight: bold;
  }

  .newRole {
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    color: #000000;
    border-radius: 50px;
    padding: 4px 16px;
    max-width: max-content;
    margin: 10px auto 0;
  }
}

@media (width <=991px) {
  .teamSection {
    .sectionHeader {
      h2 {
        font-size: 24px;
        line-height: 26px;
        max-width: 260px;
        margin: 0 auto 24px;
      }
    }

    .tabs {
      background: transparent;
      padding: 0px 0;
      border-radius: 100px;
      max-width: max-content;
      margin: 0 auto 40px;
      display: flex;
      gap: 10px;
      overflow-y: auto;
      flex-wrap: nowrap;
       scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */

  &::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }
      button {
        font-size: 13px;
        border: 0.5px solid rgba(0, 0, 0, 1);
        background-color: transparent;
        padding: 10px 16px;
        min-width: max-content;
        color: rgb(0 0 0 / 50%);

        &.active {
          background: rgba(0, 0, 0, 1);
          border: 1px solid rgba(0, 0, 0, 1);
          box-shadow: none;
          color: rgba(255, 255, 255, 1);
        }
      }
    }

    .memberCard {
      border: 2px solid rgba(0, 0, 0, 1);
      border-radius: 20px;
      overflow: hidden;
      background: rgba(255, 255, 255, 1);
      width: 100%;
      height: 100%;

      .imageWrapper {
        height: 210px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: top left;
        }
      }

      .cardContent {
        padding: 16px 24px;
        background: rgba(255, 255, 255, 1);

        .memberContent {
          display: flex;
          gap: 8px;
          justify-content: space-between;
          flex-direction: column;
          margin-bottom: 15px;

          h5 {
            font-size: 20px;
            line-height: normal;
            letter-spacing: 0%;
            margin-bottom: 0;
          }

          .companyLogo {
            img {
              max-height: 35px;
              min-height: 30px;
              width: auto;
              max-width: fit-content;
            }
          }
        }

        .memberInfo {
          label {
            font-weight: 500;
            font-size: 12px;
            line-height: 100%;
            letter-spacing: 0%;
            color: rgba(0, 0, 0, 1);
            margin-bottom: 8px;
          }

          p {
            font-weight: 400;
            font-size: 12px;
            line-height: 100%;
            letter-spacing: 0%;
            color: rgba(0, 0, 0, 1);
          }
        }
      }
    }
  }

  .newCard {
  border: 2px solid rgba(0, 0, 0, 1);
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  height: 366px;

  .cardContent {
    position: absolute;
    bottom: 37px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;

    h5 {
      font-weight: 700;
      font-style: italic;
      font-size: 30px;
      line-height: 32px;
      text-transform: uppercase;
      text-align: left;
      max-width: 230px;
      margin: 0 auto;
      -webkit-text-stroke: 1px black; /* text border */
        text-shadow: 2px 2px 0px #000000; /* sharp shadow */
    }
  }

  .imageWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    img {
      width: 100%;
    }
  }

  .icon {
    position: absolute;
    top: 20px;
    width: 60px;
    height: 60px;
    opacity: 0.9;

    &.iconLeft {
       Left: 20%;
    bottom: 169px;
    top: initial;
    }

    &.iconRight {
       right: 20%;
    bottom: 169px;
    top: initial;
    }
  }

  .newName {
    font-size: 1.25rem;
    font-weight: bold;
  }

  .newRole {
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    color: #000000;
    border-radius: 50px;
    padding: 4px 16px;
    max-width: max-content;
    margin: 10px auto 0;
    font-size: 12px;
  }
}
}